<div class="ui middle aligned center aligned grid text container" style="height:100%;">
    <div class="row">
        <div class="column" style="max-width: 450px;">
            <h1>Bitte einloggen</h1>
            <form class="ui large form" ng-submit="users.login($event)">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="email" ng-model="users.loginUsername" placeholder="E-mail address" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="password" ng-model="users.loginPassword" placeholder="Password" type="password">
                        </div>
                    </div>

                    <input class="ui fluid large submit button" type="submit" value="Login">

                    <select name="serverurl" class="ui fluid search selection dropdown server-select" ng-model="users.serverurl">
                        <option value="">ServerUrl</option>
                        <option ng-repeat="val in users.serverurlArray" value="{{val}}">{{val}}</option>
                    </select>

                </div>

                <div class="ui error message"></div>

            </form>


        </div>
    </div>        
</div>
