
<div class="ui middle aligned center aligned grid" style="height:100%;">
    <div class="column" style="max-width: 450px;">
        <h2 class="ui header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form" ng-submit="users.login($event)">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input name="email" ng-model="users.loginUsername" placeholder="E-mail address" type="text">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input name="password" ng-model="users.loginPassword" placeholder="Password" type="password">
                    </div>
                </div>
                <input class="ui fluid large submit button" type="submit" value="Login">
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a href="#">Sign Up</a>
        </div>
    </div>
</div>
