	<!-- <div class="ui styled accordion">
		<div class="title" ng-repeat-start="property in properties.properties">
			<i class="dropdown icon"></i>
			{{property.descr}}
		</div>
		<div class="content" ng-repeat-end>
			{{property.name}}
			<input type="{{property.field}}" name="{{property.name}}" value="{{property.value}}"> 
		</div>
	</div> -->


	<div class="ui secondary  menu">

		<a class="item" ng-repeat="cat in properties.categories" ng-click="properties.setCategory(cat)" 
			ng-class="{active: cat.value == properties.currentCategory}">
			{{cat.name}}
		</a>
	</div>


	<div class="ui stackable relaxed two column grid">
		<!--  Product Container  -->
		<!-- <div class="item ui styled accordion" ng-repeat="property in properties.properties">  -->
		<div class="column" ng-repeat="property in properties.properties">
			<div class="ui segment property-block">
				<h3 class="ui header title"> {{property.descr}} </h3>		
				<button class="ui icon button property-edit-button" ng-click="properties.editProperty(property)" data-name="{{property.name}}">
				  	<i class="edit icon"></i>
				</button>
				<div class="content">
					<!-- <p> {{property.name}} </p> -->
					<!-- <div class="ui input property-fields" ng-include="property.template"></div> -->
					<span>{{property.value}}</span> 
				</div>
			</div>
		</div>
		<!-- </div> -->



	</div>

<div class="ui modal">
  <div class="header">Header</div>
</div>
