<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <div class="active section breadcrumb-header">Consent-Manager</div>
        </div>
    </div>

    <form ngNativeValidate class="ui form sixteen wide column">
        <div class="ui row studies">
            <div class="field">
                <label>Studie</label>
                <select class="ui dropdown" name="studies" [(ngModel)]="filterdata.study" (change)="setEntries(filterActive).subscribe()">
                    <option *ngFor="let option of studies" [ngValue]="option.id">
                            {{ option.title }}
                    </option>
                </select>
            </div>
        </div>
        <div class="ui segment row filter">
            <div class="seven fields">
                <div class="one wide field"></div>
                <div class="five wide field">
                        <label>Teilnahme</label>
                        <div class="three inline fields">
                            <div class="ui checkbox">
                                <input type="checkbox" name="optIn" [(ngModel)]="filterdata.optIn">
                                <label>Einschluss</label>
                            </div>
                            <div class="one wide field"></div>
                            <div class="ui checkbox">
                                <input type="checkbox" name="optOut"  [(ngModel)]="filterdata.optOut">
                                <label>Ausschluss</label>
                            </div>
                        </div>
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                    <label>Datum</label>
                    <my-date-picker style="width: 100%" class="ui input" name="DPStudyManager" [options]="DPOptions" [(ngModel)]="filterdata.date"></my-date-picker>
                </div>
                <div class="one wide field"></div>
                <div class="ui small labeled left floated icon button" (click)="filterEntries()">
                    <i class="filter icon"></i> Filtern
                </div>
            </div>
        </div>

    </form>
    <!-- TODO: AuditTrail -->
</div>
<div class="ui segments container">
    <div class="ui segment ui grid buttonbar">
        <div class="ui sixteen wide column">
            <div class="ui small labeled left floated icon button" (click)="resetFilter()" [ngClass]="filterActive ? '' : 'disabledButton'" >
                <i class="close icon"></i> Filter zurücksetzen
            </div>
            <div *ngIf="isAuthorized('WRITE_STUDYMANAGER')" class="ui small labeled right floated icon button newButton" (click)="createEntry()">
                <i class="plus icon"></i> Eintrag erstellen
            </div>
        </div>
    </div>
    <table class="ui sortable selectable celled table segment">
        <thead>
            <tr>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='sic', 'descending':reverse, 'ascending':!reverse}" width="14%" (click)="sorted=true; setSortAttribute('sic')">SIC <i *ngIf="!sorted" class="sort icon"></i></th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='timestamp', 'descending':reverse, 'ascending':!reverse}" width="20%" (click)="sorted=true; setSortAttribute('timestamp')">Datum <i *ngIf="!sorted" class="sort icon"></i></th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='ext', 'descending':reverse, 'ascending':!reverse}" width="22%" (click)="sorted=true; setSortAttribute('ext')">KIS-ID <i *ngIf="!sorted" class="sort icon"></i></th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='participationString', 'descending':reverse, 'ascending':!reverse}" width="15%" (click)="sorted=true; setSortAttribute('participationString')">Teilnahme <i *ngIf="!sorted" class="sort icon"></i></th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='comment', 'descending':reverse, 'ascending':!reverse}" width="29%" (click)="sorted=true; setSortAttribute('comment')">Kommentar <i *ngIf="!sorted" class="sort icon"></i></th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of filteredEntries | orderBy: [getSortAttribute()] | paginate: { itemsPerPage: 15, currentPage: p }" (click)="showEntry(entry, false)">
            <td width="14%">
                {{ entry.sic }}
            </td>

            <td width="20%">
                {{ entry.timestamp | momentDate: 'DD.MM.YYYY, HH:mm' }}
            </td>

            <td *ngIf="entry.ext !== ''" width="22%">
                {{ entry.ext }}
            </td>

            <td *ngIf="entry.ext === ''" width="22%">
                {{ entry.root }}
            </td>

            <td width="15%">
                {{ entry.participationString }}
            </td>

            <td title="{{entry.comment}}" class="truncated" width="29%">
                {{ entry.comment }}
            </td>
        </tr>
        </tbody>
        <tfoot>
            <th colspan="5">
                <pagination-controls class="pagination"
                    (pageChange)="p = $event"
                    autoHide="true"
                    previousLabel="Vorherige Seite"
                    nextLabel="Nächste Seite">
                </pagination-controls>
            </th>
        </tfoot>
    </table>
</div>

<popup-newEntry [studies]="studies" [selectedStudy]="filterdata.study"></popup-newEntry>
<popup-detail [entry]="selectedEntry"></popup-detail>
<popup-message></popup-message>
