.margin-top-bottom {
    margin: 1.5em 0 1.5em 0;
}

.studies {
    margin: auto;
    width: 50%;
}

.filter > div {
    display: flex;
    align-items: center;
    margin: auto;
}

.newButton:hover {
    background: rgba(33, 186, 69, 1);
    color: white;
}

.disabledButton, .disabledButton:hover {
     background: lightgrey;
     opacity: 0.5;
     color: rgb(85, 85, 85);
     cursor: auto;
     pointer-events: none;
 }

.table {
    border: 1px solid lightgray !important;
    table-layout: fixed;
}

tr:hover{
    cursor: pointer;
}

.table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.buttonbar {
    border-top: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
    border-left: 1px solid lightgray !important;
}

.container {
    border: none !important;
}

.pagination /deep/ .ngx-pagination {
    text-align: center;
    margin: 0;
}