<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <div class="active section breadcrumb-header">Upload von fallbasierten Daten</div>
        </div>
    </div>

    <form class="ui form sixteen wide column">
        <div class="ui row dropdown-processing">
            <div class="field">
                <label>Art der Datenverarbeitung</label>
                <select class="ui fluid dropdown" name="process_selected" [(ngModel)]="process_selected">
                    <option *ngFor="let process of list_processes" [value]="process.id" [selected]="process_selected==process.id" >
                        {{ process.description }}
                    </option>
                </select>
            </div>
        </div>

        <div class="ui segment container-border">
            <div class="container">
                <div class="ui two row centered grid">
                    <input type="file" accept="application/zip,application/x-zip-compressed" multiple (change)="onFileBrowse($event.target.files)" />
                    <div class="row"></div>
                    <div class="row">
                        <i class="upload icon green huge"></i>
                    </div>
                    <div class="row">
                        <div class="positive ui button huge">
                            Durchsuchen...
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>

        <div class="progress-container">
            <div class="progress" id="progress"></div>
        </div>

        <div class="list-files">
            <div class="single-file" *ngFor="let file of list_files_upload; let i=index">
                <div class="ui grid">

                    <div class="three column row">
                        <div class="left floated column">
                            <div class="file-info">
                                <h4 class="file-name">
                                    {{ file.name }}
                                </h4>
                                <p class="file-size file-info">
                                    {{ formatBytes(file.size) }}
                                </p>
                            </div>
                       </div>

                        <div class="right floated column">
                            <div class="ui icon buttons file-buttons">
                                <button class="ui button" (click)="file.upload_and_verificate()"
                                        *ngIf="file.hasState(ImportState.ready,ImportState.in_queue,ImportState.uploading,ImportState.upload_cancelled,ImportState.upload_failed,ImportState.verificating,ImportState.verification_failed)"
                                        [disabled]="file.hasState(ImportState.in_queue,ImportState.uploading,ImportState.verificating)">
                                    <i class="cloud upload icon green large"></i>
                                </button>
                                <button class="ui right labeled icon button" (click)="file.import()"
                                        *ngIf="file.hasState(ImportState.verification_successful,ImportState.importing,ImportState.import_cancelled,ImportState.import_failed,ImportState.import_successful)"
                                        [disabled]="file.hasState(ImportState.importing,ImportState.import_successful)">
                                    <i class="arrow circle up icon green large"></i>
                                    <p class="import-button-label">
                                        {{ list_processes[process_selected-1].description }}
                                    </p>
                                </button>
                                <button class="ui button" (click)="file.cancel()"
                                        *ngIf="file.hasState(ImportState.in_queue,ImportState.uploading,ImportState.verificating)"
                                        [disabled]="file.hasState(ImportState.verificating)">
                                    <i class="ban icon red large"></i>
                                </button>
                                <button class="ui button" (click)="deleteFile(i)"
                                        *ngIf="file.hasState(ImportState.ready,ImportState.upload_cancelled,ImportState.upload_failed,ImportState.verification_failed,ImportState.verification_successful,ImportState.import_cancelled,ImportState.import_failed,ImportState.import_successful)"
                                        [disabled]="file.hasState(ImportState.import_successful)">
                                    <i class="trash icon red large"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="file-row-element">
                            <div class="ui green progress" id="{{ file.id }}">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                                <div class="label">
                                    <h4>
                                        {{ file.state }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="file.is_warning">
                        <div class="ui segment file-row-element element-warning">
                            <i class="exclamation triangle icon yellow large"></i>
                            <b> WARNING </b>
                            <p> {{ file.warning_message }} </p>
                        </div>
                    </div>

                    <div class="row" *ngIf="file.is_error">
                        <div class="ui segment file-row-element element-error">
                            <i class="exclamation triangle icon red large"></i>
                            <b> ERROR </b>
                            <p> {{ file.error_message }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
