<div class="ui negative message" *ngIf="_updaterService.showDwhUpdateError">
    <i class="close icon" (click)="_updaterService.showDwhUpdateError=false;"></i>
    <div class="header">Fehler!</div>
    <p>Das Update konnte nicht ausgeführt werden!</p>
</div>

<div class="ui negative message" *ngIf="_updaterService.showAptUpdateError">
    <i class="close icon" (click)="_updaterService.showAptUpdateError=false;"></i>
    <div class="header">Fehler!</div>
    <p>Die Suche nach einer neuen Version ist fehlgeschlagen!</p>
</div>

<popup-message style="position: absolute; left: 35%; bottom: 120%;"></popup-message>
<popup-update style="position: absolute; left: 35%; bottom: 120%;"></popup-update>

<div class="header-version" style="text-align: center;" *ngIf="_updaterService.checkPermission()">
    <button class="ui basic icon button" *ngIf="!_updaterService.isNewUpdateAvailable" [disabled]="!_updaterService.isUpdateAgentInstalled"
        (click)="_updaterService.reloadAptPackages()" title="Auf neue Updates prüfen">
        <i *ngIf="!_updaterService.isCheckingForUpdates" class="sync large icon"></i>
        <i *ngIf="_updaterService.isCheckingForUpdates" class="sync loading large icon"></i>
    </button>
    <button class="ui basic icon button" *ngIf="_updaterService.isNewUpdateAvailable" (click)="openUpdatePopup()" [disabled]="!_updaterService.isUpdateAgentInstalled"
        title="Ein neues Update ist verfügbar">
        <i class="arrow circle up large icon green"></i>
    </button>
    <div style="display: inline" (click)="openLastUpdateSummary()">
        Version {{ version }}
    </div>
</div>


<div class="ui container">
    <div class="ui padded grid middle aligned">
        <a routerLink="/home" class="ui small image three wide column header-logo">
            <img src="img/AKTIN_Logo_tmp.png">
        </a>
        <div class="ui header bottom aligned eight wide column header-title">Notaufnahmeregister <br />
            Data-Warehouse-Manager</div>
    </div>
</div>

<div class="ui borderless main menu" id="header-menu">
    <div class="ui container">
        <ng-container *ngFor="let route of routings">
            <a *ngIf="visible[route.data['name']]" class="item" routerLinkActive="active" routerLink="{{route.path}}">
                <span class="header-menu-item-content">{{route.data['name']}}</span>
            </a>
        </ng-container>
        <div class="right item">
            <span class="header-menu-item-content">
                <user-login [menu]="true"></user-login>
            </span>
        </div>
    </div>
</div>

<div class="ui text container app">
    <router-outlet></router-outlet>
    <!--<div class="ui right tiny rail">-->
    <!--<div class="ui basic button Fixed Bottom sticky go2top">TOP</div>-->
    <!--</div>-->
</div>
<!--<div class="ui vertical footer segment">-->
<!--<div class="ui divider"></div>-->
<!--<div class="ui container">-->
<!--<div class="ui stackable padded grid">-->
<!--<div class="six wide column">-->
<!--<div class="ui basic segment">-->
<!--Nähere Informationen zum Projekt finden Sie auf den Seiten des Bundesministeriums für Bildung und Forschung - BMBF: https://www.gesundheitsforschung-bmbf.de/de/verbundprojekt-verbesserung-der-versorgungsforschung-in-der-akutmedizin-durch-den-aufbau-4400.php-->
<!--</div>-->
<!--<div class="ui basic segment">-->
<!--AKTIN ist im Deutschen Register Klinischer Studien (DRKS) erfasst: https://www.drks.de-->
<!--</div>-->
<!--<div class="ui basic segment">-->
<!--DRKS-ID der Studie: DRKS00009805-->
<!--</div>-->
<!--</div>-->
<!--<div class="six wide center aligned column">-->
<!--<h4 class="ui header">Links</h4>-->
<!--<div class="ui link list">-->
<!--<a href="#" class="item">Link One</a>-->
<!--<a href="#" class="item">Link Two</a>-->
<!--<a href="#" class="item">Link Three</a>-->
<!--<a href="#" class="item">Link Four</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="three wide column right aligned ui small image">-->
<!--<img src="img/BMBF_FARBE_Gefoerdert_vom.jpg">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
