.divider {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-box {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.menu-bar {
  @apply h-16 flex justify-between max-w-288 mx-auto;
}
.menu-button {
  @apply inline-block cursor-pointer py-6 px-4;
  &:hover {
    @apply bg-grey-lighter;
  }
  &.active {
    @apply bg-grey-light;
  }
}

.breadcrumb-item {
  @apply inline-block;
  &.first {
    @apply text-xl;
  }
  &.link {
    @apply text-link cursor-pointer;
  }
  &.current {
    @apply font-medium;
  }
}

.breadcrumb-divider {
  @apply inline-block mx-3 text-grey-dark;
}

.login-form-label {
  @apply block text-grey-darker text-sm font-bold mb-2;
}
.login-form-control {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight;
  &:focus {
    @apply outline-none shadow-outline;
  }
  &.password-input {
    @apply mb-3;
  }
}
.login-form-buttons {
  @apply flex items-center justify-between;
}
.login-form-submit-button {
  @apply bg-blue text-white font-bold py-2 px-4 rounded;
  &:focus {
    @apply outline-none shadow-outline;
  }
  &:hover {
    @apply bg-blue-dark;
  }
}
