<div class="ui text container ">
    <div class="ui vertically divided padded middle aligned grid">

        <div class="row test">
            <div class="column">
                Hier können Sie die Funktionalitäten testen. Sollten Sie weitere Fragen haben, wenden Sie sich gerne an it-support&#64;aktin.org
            </div>
        </div>
        <div class="row test" *ngFor="let moduleTest of tests">
            <div class="four wide column">
                <div class="ui button" [ngClass]="moduleTest['buttonStyle']" (click)="test(moduleTest)">{{moduleTest.name}}</div>
            </div>
            <div class="twelve wide column">
                <div class="ui segment" [ngClass]="moduleTest['segmentStyle']" *ngIf="moduleTest.message"><pre>{{moduleTest.message}}</pre></div>
            </div>
        </div>

    </div>
</div>