<table *templateVar="showDetailButtons ? columns.length : columns.length + 1 as colSpan"
       class="ui sortable selectable celled table segment sixteen wide column">
    <thead>
    <tr>
        @for (column of columns; track column) {
            <th sortableTableColumn
                [identifier]="column.header"
                (sort)="sort($event)">
                {{ column.header }}
            </th>
        }
        @if (showDetailButtons) {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>
        @for (row of allData | paginate: {itemsPerPage: 15, currentPage: page}; track determineTrackBy(row)) {
            <tr>
                @for (column of columns; track column) {
                    <td>
                        {{ resolveField(column.field, row) }}
                    </td>
                } @empty {
                    <td [colSpan]="colSpan">Keine Daten gefunden</td>
                }
                @if (showDetailButtons && !!allData?.length) {
                    <td>
                        <button class="ui right floated labeled icon button"
                                style="width: auto"
                                (click)="onButtonClick(row)">
                            <i class="search icon"></i>
                            Details
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
    <th [colSpan]="colSpan">
        <pagination-controls (pageChange)="page = $event"
                             [autoHide]="true"
                             class="pagination"
                             nextLabel="Nächste Seite"
                             previousLabel="Vorherige Seite">
        </pagination-controls>
    </th>
    </tfoot>
</table>
