@let colSpan = columns.length + (!!extraColumn ? 1 : 0);
<table class="ui sortable selectable celled table segment sixteen wide column">
    <thead>
    <tr>
        @for (column of columns; track column) {
            <th sortableTableColumn
                [identifier]="column.header"
                (sort)="sort($event)">
                {{ column.header }}
            </th>
        }
        @if (!!extraColumnHeader) {
            <th>
                <ng-container *ngTemplateOutlet="extraColumnHeader"></ng-container>
            </th>
        } @else if (!!extraColumn) {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>
        @for (row of allData | paginate: {
            itemsPerPage: 10,
            currentPage: page,
            id: paginatorId.toString()
        }; track determineTrackBy(row, $index)) {
            <tr>
                @for (column of columns; track column) {
                    <td>
                        {{ resolveField(column.field, row) }}
                    </td>
                }
                @if (!!extraColumn) {
                    <td>
                        <ng-container *ngTemplateOutlet="extraColumn; context: {$implicit: row}"></ng-container>
                    </td>
                }
            </tr>
        } @empty {
            <tr>
                <td [colSpan]="colSpan">Keine Daten gefunden</td>
            </tr>
        }
    </tbody>
    <tfoot>
    <th [colSpan]="colSpan"
        class="center aligned">
        <pagination-controls (pageChange)="page = $event"
                             [id]="paginatorId.toString()"
                             class="pagination"
                             nextLabel="Nächste Seite"
                             previousLabel="Vorherige Seite">
        </pagination-controls>
    </th>
    </tfoot>
</table>
