<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <div class="active section breadcrumb-header">CDA Dateien</div>
        </div>
        <div class="five wide right floated column right aligned">
            Search for id
            <!--<div class="ui left labeled button" title="Neuen Bericht vom vergangen Monat erzeugen" routerLink="/report/new">
                <a class="ui teal basic label">
                    Neuer Bericht
                </a>
                <div class="ui teal icon button">
                    <i class="book icon"></i>
                </div>
            </div>-->
        </div>
    </div>
</div>
liste der gefilterten files?