body {
	/*create flex box for body*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;
}
.flex-panel {
	-webkit-flex: 1 0 auto; /* Safari 6.1+ */
    -ms-flex:  1 0 auto; /* IE 10 */ 
    flex:  1 0 auto;
}

.property-fields {
	width: 100%;
}

.property-fields select.ui.dropdown {
	width: 100%;
	height: auto;
}


/*logs*/
.ui.list > .item.log-item-level {
	padding: 10px;
	margin-bottom: 3px;
}
.log-item-level.info {
	background-color: #808080;
}
.log-item-level.debug {
	background-color: #FFA500;
}
.log-item-level.error {
	background-color: #800000;
}

.log-text-box {
	padding: 5px; 
	background-color: rgba(255,255,255,0.5);
}