body {
	/*create flex box for body*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;
}
.flex-panel {
	-webkit-flex: 0 0 auto; /* Safari 6.1+ */
    -ms-flex:  0 0 auto; /* IE 10 */ 
    flex:  0 0 auto;
}
.flex-panel.content {
	-webkit-flex: 1 0 auto; /* Safari 6.1+ */
    -ms-flex:  1 0 auto; /* IE 10 */ 
    flex:  1 0 auto;
}

header-panel {
	margin-bottom: 5px;
}
footer-panel {
	margin-top: 5px;
}

/* menu item */
.ui.inverted.menu .item::before {
	background: none;
}
.ui.inverted.menu .item {
	-webkit-flex: 1 0 auto; /* Safari 6.1+ */
    -ms-flex:  1 0 auto; /* IE 10 */ 
    flex:  1 0 auto;
}
.header-menu-item-content {
	text-align: center;
	width: 100%;
}

footer-panel .ui.list {
	margin-top: 0;
}
#footer-divider {
	margin-top: 21px;
	margin-bottom: 6px;
}


/*properties*/
.property-block {
	min-height: 90px;
}
.property-edit-button {
	float: right;
	position: absolute;
	right: 10px;
	top: 10px;
}
.property-fields {
	width: 100%;
}
.property-fields select.ui.dropdown {
	width: 100%;
	height: auto;
}


/*logs*/
.ui.list > .item.log-item-level {
	padding: 10px;
	margin-bottom: 3px;
}
.log-item-level.info {
	background-color: #808080;
}
.log-item-level.debug {
	background-color: #FFA500;
}
.log-item-level.error {
	background-color: #800000;
}

.log-text-box {
	padding: 5px; 
	background-color: rgba(255,255,255,0.5);
}

/*reports*/
.reports-container {
	/*text-align: center;*/
}