<div id="popup-message-overlay">
</div>

<div class="ui text container very padded segment"
     id="popup-message-content">
    <div class="ui header">
        Mehrere Patient*innen registrieren
    </div>

    <div class="ui content"
         style="padding-bottom: 1em">
        Bitte füllen Sie die folgenden Felder, um mehrere neue Patient*innen zu registrieren
    </div>

    <div class="close-action">
        <a (click)="close()"
           class="ui compact small icon circular button">
            <i class="remove icon"></i>
        </a>
    </div>

    <form #frm="ngForm"
          class="ui form sixteen wide column form">
        <div class="ui row">
            <div #accordion
                 class="ui styled accordion">
                <div class="active title">
                    <i class="dropdown icon right"></i>
                    Studieninformationen
                </div>
                <div class="active content">
                    <div class="field">
                        <label>Studie</label>
                        <drop-down [(ngModel)]="selectedStudy"
                                   [compare]="compareStudies"
                                   name="studies">
                            @for (study of studies; track study.id) {
                                <drop-down-option [value]="study">{{ study.title }}</drop-down-option>
                            }
                        </drop-down>
                    </div>

                    <div class="field">
                        <label>Teilnahme</label>
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input [checked]="selectedStudy?.optIn"
                                           disabled
                                           name="opt"
                                           type="radio">
                                    <label>Ja, hat zugestimmt</label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input [checked]="selectedStudy?.optOut"
                                           disabled
                                           name="opt"
                                           type="radio">
                                    <label>Nein, ist ausgeschlossen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="active title">
                    <i class="dropdown icon right"></i>
                    Patienteninformationen
                </div>
                <div class="active content">
                    <div class="field">
                        <label>Studien-ID (SIC) automatisch neu erstellen lassen?</label>
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input [(ngModel)]="generateSic"
                                           [disabled]="selectedStudy.sicGeneration === SICGeneration.ManualOnly"
                                           [value]="true"
                                           name="generateSic"
                                           type="radio">
                                    <label>Ja (nur {{ selectedReference | patientReferenceToLabel }} eingeben)</label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input [(ngModel)]="generateSic"
                                           [value]="false"
                                           name="generateSic"
                                           type="radio">
                                    <label>Nein ({{ selectedReference | patientReferenceToLabel }} und SIC
                                        eingeben)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Patientenreferenz</label>
                        <drop-down [(ngModel)]="selectedReference"
                                   name="references">
                            @for (ref of references; track ref) {
                                <drop-down-option [value]="ref">{{ ref | patientReferenceToLabel }}</drop-down-option>
                            }
                        </drop-down>
                    </div>
                    <div class="field">
                        <patients-text-area [(ngModel)]="entries"
                                            [reference]="selectedReference"
                                            [root]="selectedReference | patientReferenceToRoot"
                                            [studyId]="selectedStudy?.id"
                                            [generateSic]="generateSic"
                                            required
                                            name="patients">
                        </patients-text-area>
                    </div>

                    <div class="field">
                        <label>Kommentar</label>
                        <div class="inline fields">
                                <textarea [(ngModel)]="comment"
                                          name="comment"
                                          rows="4">
                                </textarea>
                        </div>
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon right"></i>
                    Technische Informationen
                </div>
                <div class="content">
                    <div class="field">
                        <label>Root</label>
                        <div class="value-field">{{ selectedReference | patientReferenceToRoot }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions">
            <button (click)="close()"
                    class="ui button"
                    type="button">Abbrechen
            </button>
            <button (click)="create()"
                    class="ui button green">Registrieren
            </button>
        </div>
    </form>
</div>
