<div class="header h-16">header {{ title }}</div>
<div class="menu-box">
  <div class="menu-bar">
    <!--<a mat-button href="/">Home</a>-->
    <!--<button mat-button>Menu</button>-->
    <div class="menu-buttons-wrapper flex h-full">
      <a
        class="menu-button"
        *ngFor="let route of routings"
        routerLinkActive="active"
        routerLink="{{ route.path }}"
      >
        <span>
          {{ route.data["name"] }}
        </span>
      </a>
    </div>
    <div class="menu-login flex inline-block">
      <a class="menu-button" (click)="login()">
        <span>login </span>
      </a>
    </div>
  </div>
</div>
<div class="mt-4 w-256 mx-auto">
  <router-outlet></router-outlet>
</div>
<!--<div>footer</div>-->
