<div class="ui grid column">
    <div class="row">
        <div class="ui breadcrumb column">
            <div class="active section breadcrumb-header">Studien-Manager</div>
        </div>
    </div>

    <div class="row">
        <div class="ui column form">
            <div class="field">
                <label>Studie</label>
                <drop-down [(ngModel)]="selectedStudy"
                           [compare]="compareStudies"
                           name="studies">
                    @for (study of studies; track study.id) {
                        <drop-down-option [value]="study">{{ study.title }}</drop-down-option>
                    }
                </drop-down>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui column">
            <div class="ui segment column form">
                <div class="field">
                    <label>Zeitraum</label>
                    <div class="ui action input">
                        <input #d="angular-mydatepicker"
                               [(ngModel)]="date"
                               [options]="options"
                               angular-mydatepicker
                               name="dp"/>
                        <button (click)="d.toggleCalendar()"
                                class="ui icon button"
                                type="button">
                            <i class="calendar icon"></i>
                        </button>
                        <button (click)="resetFilter()"
                                class="ui labeled icon button"
                                type="button">
                            <i class="close icon"></i> Zurücksetzen
                        </button>
                        <button (click)="filter()"
                                class="ui labeled icon button"
                                type="button">
                            <i class="filter icon"></i> Filtern
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TODO: AuditTrail -->
    <div class="row">
        <div class="ui column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="ui column">
                            <div class="ui green basic right floated buttons">
                                <div (click)="isPatientCreationComponentOpen = true"
                                     class="ui button">
                                    <!--                        <i class="plus icon"></i>-->
                                    Registrieren
                                </div>
                                <div #batchAddDropdown
                                     class="ui floating dropdown icon button">
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div (click)="isPatientsCreationComponentOpen = true"
                                             class="ui button item">
                                            Multi-Registrierung
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <data-table (onDetailsClick)="selectedEntry = $event; isPatientViewComponentOpen = true;"
                                    [columns]="columns"
                                    [data]="filteredEntries"
                                    class="ui column"></data-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<patients-creation (onClose)="isPatientsCreationComponentOpen = false; loadEntries();"
                   *ngIf="isPatientsCreationComponentOpen"
                   [(selectedStudy)]="selectedStudy"></patients-creation>
<patient-creation (onClose)="isPatientCreationComponentOpen = false; loadEntries();"
                  *ngIf="isPatientCreationComponentOpen"
                  [(selectedStudy)]="selectedStudy"></patient-creation>
<patient-view (onClose)="isPatientViewComponentOpen = false; loadEntries();"
              *ngIf="isPatientViewComponentOpen"
              [entry]="selectedEntry"></patient-view>
