<div class="ui text container items relaxed">

    <h1>Willkommen in den Adminbackend des AKTIN-DWH Moduls</h1>

    <div class="item" ng-if="!home.hasUser()">
        <div class="content">
			<div class="header"><a ui-sref="login">Login</a> </div>
        	<div class="description">
            Bitte Loggen Sie sich unter <a ui-sref="login"><b>Anmelden</b></a> ein.
			</div>
		</div>
    </div>

    <div class="item" ng-if="home.hasUser()">
        <div class="content">
			<div class="header"><a ui-sref="properties">Konfigurationen</a> </div>
        	<div class="description"> 
            Unter <a ui-sref="properties">Konfigurationen</a> können Sie die Einstellungen des lokalen DWH einsehen.
			</div>
		</div>
    </div>
    
    <div class="item" ng-if="home.hasUser()">
        <div class="content">
            <div class="header"><a ui-sref="reports">Berichtswesen</a> </div>
            <div class="description"> 
            Unter <a ui-sref="reports">Berichtswesen</a> wird das aktuelle Bericht angezeigt. Bei Bedarf kann auch individuelle Berichte generiert werden.
            </div>
        </div>
    </div>

    <div class="item" ng-if="false && home.hasUser() && home.isAdmin()">
        <div class="content">
            <div class="header"><a ui-sref="querying">Zentrale Abfragen</a> </div>
            <div class="description">
            Es sind <a ui-sref="querying"><b>3 neue Anfragen</b></a> eingegangen. Unter <a ui-sref="querying">Zentrale Abfragen</a> können Sie diese einsehen und Freigabe für diese erteilen.
            </div>
        </div>
    </div>

    <div class="item" ng-if="false && home.hasUser()">
        <div class="content">
			<div class="header"><a ui-sref="logs">Logs</a> </div>
        	<div class="description"> 
            Unter <a ui-sref="logs">Logs</a> werden die Logs des Servers angezeigt.
			</div>
		</div>
    </div>

    <div class="item" ng-if="false && home.hasUser() && home.isAdmin()">
        <div class="content">
			<div class="header"><a ui-sref="users">Benutzeradministration</a> </div>
        	<div class="description"> 
            Benutzer des DWH und des Adminbackends können über <a ui-sref="users">Logs</a> verwaltet werdens
			</div>
		</div>
    </div>

</div>

            


