<div
        class="ui basic segment request-single-view grid container"
        id="visit-single-view"
        *ngIf="visit"
>
    <div class="compact row">
        <div class="twelve wide column">
            <h1 class="ui header">

            </h1>
        </div>
        <div class="actions four wide right floated right aligned column">
            <a class="ui circular red icon button"

            >
                <i class="trash outline icon"></i>
            </a>
            <a class="ui circular basic green icon button" >
                <i class="arrow left icon"></i>
            </a>
        </div>
    </div>

    <div class="ui row" *ngIf="visit">
        <div class="sixteen wide column">
            {{visit.root}} // {{visit.encounterId}}
        </div>
        <div class="sixteen wide column">
            <div class="visit-single-view-detail" [innerHTML]="visit.xml" >
            </div>
        </div>
    </div>
</div>

