<!--<div class="ui grid">-->
<!--    <div class="row">-->
<!--        <div class="ui breadcrumb">-->
<!--            <a class="section breadcrumb-header" routerLink="/report">Berichtsübersicht</a>-->
<!--            <i class="right angle icon divider"></i>-->
<!--            <div class="active section" *ngIf="report">{{report.id}}: {{report.name}}</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <report-single-view [reportData]="report" [single]="true" class="row" *ngIf="report"></report-single-view>-->

<!--    <div class="row" *ngIf="report && report.isSuccess()">-->
<!--        <iframe [src]="report.url | safe" style="width: 100%; height: 700px;"></iframe>-->
<!--    </div>-->
<!--</div>-->

