.ui.breadcrumb {
    padding-bottom: 20px;
}

.reports-filter-checkbox {
    z-index: 5;
}
.reports-filter-checkbox label {
    cursor: pointer;
}

.report-single-view {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.request-single-view-header {
    float: left;
}
.report-single-view .actions {
    float: right;
}

.report-single-view .content {
    clear: both;
}

.report-single-view.report-failed {
    opacity: 0.8;
    color: rgb(24, 24, 24);
}

.report-single-view.report-failed .report-status{
    color: rgb(140, 0, 0);
}

.report-single-view.report-waiting .report-status{
    color: rgb(180, 130, 30);
}

.display-calendar {
    display: block;
}

.pagination /deep/ .ngx-pagination {
    text-align: center;
  }

.button-new-report {
    margin-left: 53px;
    margin-right: 53px;
}

.button-delete-report {
    margin-left: 25px;
    margin-right: 25px;
}
