<div class="ui breadcrumb">
    <div class="active section breadcrumb-header">{{ title }}</div>
</div>
<div class="ui left labeled button" (click)="navigateToPreferencePage()">
    <a class="ui red label">
        Abbrechen
    </a>
    <div class="ui red icon button">
        <i class="remove icon"></i>
    </div>
</div>
<div class="ui container">
    <table class="ui celled structured compact fixed table preferences">
        <thead>
        <tr>
            <th width="15%" class="center aligned">Kategorie</th>
            <th width="17%" class="center aligned">Einstellung</th>
            <th width="30%" class="center aligned">Wert</th>
            <th width="38%" class="center aligned">Beschreibung</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let cat of preferenceCategories">
            <ng-container *ngFor="let pref of cat.preferences; let i = index">
                <tr>
                    <td *ngIf="i === 0"  [attr.rowspan]="cat.preferences.length" class="break-word">
                        {{cat.description}}
                    </td>
                    <td class="break-word">
                        {{pref.key}}
                    </td>
                    <td class="break-word">
                        <input class="preferenceValue" [attr.id]="pref.key" [value]="pref.value" (input)="checkInput(pref)">
                    </td>
                    <td class="break-word">
                        {{pref.description}}
                    </td>
                </tr>
            </ng-container>
        </ng-container>
        </tbody>
    </table>
</div>
<div hidden class="bottom-banner" [attr.id]="bottombanner">
    <p>Änderungen erkannt</p>
    <div class="bannerbutton" (click)="processChanges('apply')">
        <a class="ui green label">
            Anwenden
        </a>
    </div>
    <div class="bannerbutton" (click)="processChanges('revert')">
        <a class="ui green basic label">
            Verwerfen
        </a>
    </div>
</div>


