<h1>{{ title }}</h1>
<p>Welcome to the new page!</p>
<div class="ui container">
    <table class="ui celled structured compact fixed table preferences">
        <thead>
        <tr>
            <th width="15%" class="center aligned">Kategorie</th>
            <th width="17%" class="center aligned">Einstellung</th>
            <th width="30%" class="center aligned">Wert</th>
            <th width="38%" class="center aligned">Beschreibung</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let cat of preferenceCategories">
            <ng-container *ngFor="let pref of cat.preferences; let i = index">
                <tr>
                    <td *ngIf="i === 0"  [attr.rowspan]="cat.preferences.length" class="break-word">
                        {{cat.description}}
                    </td>
                    <td class="break-word">
                        {{pref.key}}
                    </td>
                    <td class="break-word">
                        <input value="{{pref.value}}">
                    </td>
                    <td class="break-word">
                        {{pref.description}}
                    </td>
                </tr>
            </ng-container>
        </ng-container>
        </tbody>
    </table>
</div>
