<div class="ui basic segment column grid">
    <div class="row" *ngIf="!single || !edit">
        <div class="eight wide column ui padded grid">
            <div class="ui compact row" >
                <div class="eight wide column">Benutzerkennung:</div>
                <div class="eight wide column"><a routerLink="/users/{{user.username}}">{{user.username}}</a></div>
            </div>
            <div class="ui compact row">
                <div class="eight wide column">Vollständiger Name:</div>
                <div class="eight wide column">{{user.name}}</div>
            </div>
            <div class="ui compact row">
                <div class="eight wide column">E-Mail:</div>
                <div class="eight wide column">{{user.email?user.email:'-'}}</div>
            </div>
            <div class="ui compact row" *ngIf="user.isAdmin">
                <div class="eight wide column">Administratorrechte:</div>
                <div class="eight wide column">ja</div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui list" *ngIf="user.roles && user.roles.length > 0">
                <div class="item" *ngFor="let role of user.roles">- {{role}}</div>
            </div>
        </div>
    </div>
    <div class="row ui form" *ngIf="single && edit">
        <div class="eight wide column">
            <div class="field">
                <label>Benutzerkennung:</label>
                <input placeholder="username" [(ngModel)]="editUser.username">
            </div>
            <div class="field">
                <label>Vollständiger Name:</label>
                <input placeholder="Name" [(ngModel)]="editUser.name">
            </div>
            <div class="field">
                <label>E-Mail:</label>
                <input type="email" placeholder="Email" [(ngModel)]="editUser.email">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="editUser.isAdmin" [checked]="editUser.isAdmin">
                    <label>Administrator</label>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui list" *ngIf="user.roles && user.roles.length > 0">
                <div class="item" *ngFor="let role of user.roles">- {{role}}</div>
            </div>
        </div>
    </div>

    <div class="actions row">
        <div class="right floated right aligned sixteen wide column" *ngIf="single && !edit">
            <div class="ui yellow animated fade button user-edit-button" (click)="edit = true">
                <div class="visible content">Nutzer bearbeiten</div>
                <div class="hidden content">
                    <i class="icon edit"></i>
                    Nutzer bearbeiten
                </div>
            </div>
        </div>
        <div class="right floated right aligned sixteen wide column" *ngIf="edit">
            <div class="ui yellow animated fade button user-reset-button" (click)="userChanges('reset')">
                <div class="visible content">Zurücksetzen</div>
                <div class="hidden content">
                    <i class="icon reply"></i>
                    Zurücksetzen
                </div>
            </div>
            <div class="ui green animated fade button user-save-button" (click)="userChanges('save')">
                <div class="visible content">Speichern</div>
                <div class="hidden content">
                    <i class="icon save"></i>
                    Speichern
                </div>
            </div>
            <div class="ui red animated fade button user-cancel-button" (click)="userChanges('cancel')">
                <div class="visible content">Abbrechen</div>
                <div class="hidden content">
                    <i class="icon remove"></i>
                    Abbrechen
                </div>
            </div>
        </div>
    </div>
</div>