<div *ngIf="hasUser">
    {{user.username}}
    <button class="ui fluid large submit button" type="submit" (click)="userLogout()">Logout</button>
</div>
<div *ngIf="! hasUser" class="ui segment">
    <form class="ui form" #loginForm="ngForm" (ngSubmit)="userLogin()" [ngClass]="logInFormClasses">
        <div class="ui error message">
            <div class="header">Log In fehlgeschlagen</div>
            <ul class="list">
                <li *ngFor="let msg of messages">{{msg}}</li>
            </ul>
        </div>
        <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
            </div>
        </div>
        <div class="field">
            <label>Passwort</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Passwort" [(ngModel)]="password">
            </div>
        </div>
        <button class="ui fluid large submit right labeled icon button" type="submit">
            Login
            <i class="caret down icon show-url"></i>
        </button>

        <select name="serverurl" class="ui fluid search selection dropdown server-select" [(ngModel)]="curServerUrl">
            <option value="">ServerUrl</option>
            <option *ngFor="let val of serverUrls" value="{{val}}">{{val}}</option>
        </select>
    </form>
</div>

<script type="text/javascript">
    $timeout(function(){
        $('.server-select.ui.dropdown').dropdown({
            allowAdditions: true,
            onChange:function (value, text, $choice){usersApp.changeServer = true}
        });
    },200)
</script>
