<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <div class="active section">Benutzerübersicht</div>
        </div>
        <div class="five wide right floated column right aligned">
            <div class="ui left labeled button" title="Neuen Benutzer anlegen" routerLink="/users/new">
                <a class="ui teal basic label">
                    Benutzer anlegen
                </a>
                <div class="ui teal icon button">
                    <i class="book icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="users" class="ui vertically divided grid">
    <user-single-view class="row" *ngFor="let user of users" [userData]="user"></user-single-view>
</div>