<div class="ui breadcrumb">
    <div class="active section breadcrumb-header">Konfigurationen</div>
</div>
<div class="ui list">
    <div class="ui segment padded">
        <div class="ui medium header">zum Ändern der Konfigurationen:</div>

        <div class="content ui relaxed list">
            <div class="item">
                <div class="content">
                    Bitte zuerst den Wildfly Server stoppen: (für Debian)
                    <pre>service wildfly stop</pre>
                    (für CentOs)
                    <pre>systemctl stop wildfly</pre>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Die Änderungen in der folgenden Datei vornehmen (z.B. mittels nano)
                    <pre>nano {{fileLocation}}</pre>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Den Wildfly Service neustarten:(für Debian)
                    <pre>service wildfly start</pre>
                    (für CentOs)
                    <pre>systemctl start wildfly</pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <table class="ui celled structured fixed table preferences">
        <thead>
            <tr>
                <th class="two wide">Kategorie</th>
                <th class="four wide">Einstellung</th>
                <th class="four wide">Wert</th>
                <th class="six wide">Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cat of preferenceCategories">
                <ng-container *ngFor="let pref of cat.preferences; let i = index">
                <tr>
                    <td *ngIf="i === 0"  [attr.rowspan]="cat.preferences.length" class="break-word">{{cat.description}} <span class="tiny text">({{cat.value}})</span></td>
                        <td class="break-word">{{pref.key}}</td>
                        <td class="break-word">{{pref.value}}</td>
                        <td class="break-word">{{pref.description}}</td>
                </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>



</div>