<h1>Hello Properties</h1>

{{prefs}}


<div class="ui list text container">
    <div><h1>Konfigurationen</h1></div>
    <div class="ui segment padded">
        <div class="ui medium header">zum Ändern der Konfigurationen:</div>

        <div class="content ui relaxed list">
            <div class="item">
                <div class="content">
                    Bitte zuerst den Wildfly Server stoppen: (für Debian)
                    <pre>service wildfly stop</pre>
                    (für CentOs)
                    <pre>systemctl stop wildfly</pre>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Die Änderungen in der folgenden Datei vornehmen (z.B. mittels nano)
                    <pre>nano {{fileLocation}}</pre>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Den Wildfly Service neustarten:(für Debian)
                    <pre>service wildfly start</pre>
                    (für CentOs)
                    <pre>systemctl start wildfly</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment padded" *ngFor="let cat of prefCats">
        <div class="ui container stackable relaxed two column padded equal width grid items">
            <div class="row item">
                <!-- <div class="column "> -->
                <div class="content">
                    <div class="header">{{cat.descr}}</div>
                    <!-- <div class="meta">{{cat.name}}</div> -->
                    <div class="description">{{cat.value}}</div>
                </div>
                <!-- <p class="">Änderbar in: {{cat.location}}</p> -->
                <!-- </div> -->
            </div>
            <div class="column item" *ngFor="let pref of cat.prefs" style="border:1px solid rgba(34,36,38,.15); margin: 0">
                <div class="content">
                    <div class="header">{{pref.descr}}</div>
                    <div class="meta">{{pref.key}}</div>
                    <div class="description">{{pref.value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
