.preferences.table {
    font-size: small;
}

.tiny.text {
    font-size: tiny;
}

.break-word {
	word-wrap:break-word;
}

.table {
    width: 160%;
    margin-left: -30%;
    table-layout: fixed;
}
