<div class="ui grid column">
    <div class="row">
        <div class="ui breadcrumb column">
            <div class="active section breadcrumb-header">Upload von fallbasierten Daten</div>
        </div>
    </div>
    <div class="row">
        <div class="ui column">
            <form class="ui segment column form"
                  ngForm>
                <div class="field">
                    <label>Art der Datenverarbeitung</label>
                    <drop-down [(ngModel)]="selectedScript"
                               [compare]="compareScripts"
                               name="selected">
                        @for (script of scripts; track $index) {
                            <drop-down-option [value]="script">{{ script.viewname }}&nbsp;V{{ script.version }}</drop-down-option>
                        }
                    </drop-down>
                </div>
                <div class="center aligned row">
                    <div class="left aligned four wide column">
                        <div class="ui file action input">
                            <input (change)="onFileBrowse($event.target['files'])"
                                   [disabled]="!hasWritePermission"
                                   accept=".xml, text/xml"
                                   id="file"
                                   type="file">
                            <label class="ui icon primary basic button"
                                   for="file"
                                   title="Datei suchen">
                                <i class="file icon"></i>
                                <!--                                Durchsuchen-->
                            </label>
                            <button (click)="uploadHoldingFile()"
                                    [class.loading]="this.fileToUploadOperationState === ImportOperationState.UploadingInProgress"
                                    [disabled]="!hasWritePermission || !fileToUpload"
                                    class="ui icon primary button"
                                    title="Datei hochladen">
                                <i class="upload icon"></i>
                                <!--                                Hochladen-->
                            </button>
                            @if (this.fileToUploadOperationState === ImportOperationState.UploadingInProgress) {
                                <button (click)="cancelHoldingFileUpload()"
                                        [disabled]="!hasWritePermission || !fileToUpload"
                                        class="ui icon secondary button"
                                        title="Hochladen abbrechen">
                                    <i class="ban icon"></i>
                                    <!--                                Abbrechen-->
                                </button>
                            } @else {
                                <button (click)="deleteHoldingFile()"
                                        [disabled]="!hasWritePermission || !fileToUpload"
                                        class="ui icon secondary button"
                                        title="Datei verwerfen">
                                    <i class="trash alternate outline icon"></i>
                                    <!--                                Verwerfen-->
                                </button>
                            }
                        </div>
                    </div>
                    <div class="middle aligned four wide column">
                        {{ fileToUploadOperationState | importOperationStateLabel }}
                        <div *ngIf="this.fileToUploadOperationState === ImportOperationState.UploadingInProgress"
                             class="ui active small inline loader">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="ui column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <data-table [columns]="columns"
                                    [data]="uploadedFiles"
                                    [extraColumnHeader]="headerTemplate"
                                    [extraColumn]="cellTemplate"
                                    class="ui column"></data-table>
                        <ng-template #headerTemplate></ng-template>
                        <ng-template #cellTemplate
                                     let-file>
                            <div *templateVar="[ImportState.Queued, ImportState.InProgress].includes(file.state) as isQueuedOrInProgress"
                                 class="ui icon buttons">
                                @if (hasWritePermission) {
                                    @if (file.isImportable) {
                                        <button (click)="importFile(file)"
                                                [disabled]="isQueuedOrInProgress
                                                            || (file.operationState === ImportOperationState.ImportingSuccessful)"
                                                class="ui button"
                                                [class.loading]="isQueuedOrInProgress"
                                                title="Datei importieren">
                                            <i class="file import icon"></i>
                                        </button>
                                    }

                                    @if (isQueuedOrInProgress) {
                                        <button (click)="cancelProcess(file)"
                                                class="ui button"
                                                title="Prozess abbrechen">
                                            <i class="ban icon"></i>
                                        </button>
                                    } @else {
                                        <button (click)="confirmDelete(file)"
                                                class="ui button"
                                                title="Datei löschen">
                                            <i class="trash trash alternate outline icon"></i>
                                        </button>
                                    }
                                }

                                <div class="ui dropdown button">
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <button (click)="showStdLog(file)"
                                                class="ui icon labeled button item"
                                                title="Konsolenausgabe von Skript anzeigen">
                                            <i class="stream icon"></i>
                                            Konsolenausgabe
                                        </button>
                                        <button (click)="showErrorLog(file)"
                                                class="ui icon labeled button item"
                                                style="width: 100%"
                                                title="Fehlermeldung von Skript anzeigen">
                                            <i class="icon">
                                                <i class="icons">
                                                    <i class="stream icon"></i>
                                                    <i class="corner exclamation icon"></i>
                                                </i>
                                            </i>
                                            Fehlerausgabe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
