.request-single-view-header {
    float: left;
    cursor: pointer;
}

.request-status-bar-overview {
    cursor: pointer;
}

.hide-sql {
    display: none !important;
}

.request-result-button-text {
    display: inline-block;
    float: right;
    margin-left: 15px;
}
.request-result-button-icon {
    padding-top: 5px;
}