<div style="z-index: -100">
    <h4 *ngIf="request.isRecurring()" class="ui header left floated request-query-header">
        Serien-Anfrage {{ getNumRequest(request) }}:
        Ausführung am {{ request.query.scheduled | date: 'mediumDate' }}
        [{{ queryDetails[request.queryId].rejected }} abgelehnt,
        {{ queryDetails[request.queryId].accepted }} freigegeben,
        {{ queryDetails[request.queryId].submitted }} übertragen]
    </h4>
    <div class="request-status-bar-box" [class.single]="single" style="z-index: -100">
        <div class="request-status-line">
            <div class="request-status-line-fill" [ngStyle]="{'width': fillBar }" [ngClass]="{'failed': failed, 'expired': expired}"></div>
        </div>
        <div class="request-status-bar-item"
            *ngFor="let item of items; let i = index"
            [ngStyle]="(i > 0)?{'margin-left': leftSpace}:{}"
            [class.spaced]="i > 0">
            <div class="request-status-dot"
                *ngIf="item.dot"
                [ngClass]="{'visited': item.visited, 'active': item.active}"
                title="{{item.title}}"
            ></div>
            <i class="circular yellow inverted warning sign icon request-status-icon interaction"
            *ngIf="item.interaction" title={{item.title}}></i>
            <i class="circular red inverted hand paper icon request-status-icon Rejected"
            *ngIf="item.Rejected" title={{item.title}}></i>
            <i class="circular red inverted warning icon request-status-icon Failed"
            *ngIf="item.Failed" title={{item.title}}></i>
            <i class="circular yellow inverted hourglass end icon request-status-icon Expired"
            *ngIf="item.Expired" title={{item.title}}></i>
            <i class="circular green inverted check icon request-status-icon Submitted"
            *ngIf="item.Submitted" title={{item.title}}></i>
            <div class="request-status-text" *ngIf="item.active">{{ item.title }}</div>
        </div>
    </div>
</div>
