<div
        class="ui basic segment request-single-view column grid"
        id="request-list-{{request.requestId}}"
>
    <div class="row">
        <div class="ui header ten wide column" routerLink="/request/{{request.requestId}}">
            {{request.query.query.title}} {{request.query.query.description}}
        </div>
        <div class="actions six wide right floated column">

        </div>
    </div>
    <!--    <div class="actions">
            <a *ngIf="!single" class="ui circular icon button" routerLink="/request/{{request.id}}">
                <i class="eye icon"></i>
            </a>
            <a *ngIf="single" class="ui circular basic green icon button" routerLink="/request" title="Zurück zum Berichtsübersicht">
                <i class="arrow left icon"></i>
            </a>
        </div>-->
    <div class="compact stretched row">
        <div class="ui meta four wide column">
            <div class="item">
                QueryId: {{request.queryId}}
            </div>
            <div class="item">
                RequestId: {{request.requestId}}
            </div>
            <div class="item">
                Status: {{request.status}}
            </div>
            <div class="item">
                Marker: {{request.marker}}
            </div>
        </div>
        <div class="ui meta five wide column">
            Principal:
            <div class="item">
                {{request.query.query.principal.name}}
            </div>
            <div class="item" *ngIf="request.query.query.principal.organization">
                {{request.query.query.principal.organization}}
            </div>
            <div class="item" *ngIf="request.query.query.principal.email">
                {{request.query.query.principal.email}}
            </div>
            <div class="item" *ngIf="request.query.query.principal.phone">
                {{request.query.query.principal.phone}}
            </div>
        </div>
        <div class="ui meta seven wide column">
            <div class="ui padded grid">
                <div class="ui compact row">
                    <div class="six wide column">Reference:</div>
                    <div class="ten wide column">{{request.query.referenceDate | date: 'mediumDate'}}</div>
                </div>
                <div class="ui compact row">
                    <div class="six wide column">published:</div>
                    <div class="ten wide column">{{request.query.published | date: 'mediumDate'}}</div>
                </div>
                <div class="ui compact row">
                    <div class="six wide column">scheduled:</div>
                    <div class="ten wide column">{{request.query.scheduled | date: 'mediumDate'}}</div>
                </div>
                <div class="ui compact row">
                    <div class="six wide column">deadline:</div>
                    <div class="ten wide column">{{request.query.deadline | date: 'mediumDate'}}</div>
                </div>
                <div class="ui compact row">
                    <div class="six wide column">closed:</div>
                    <div class="ten wide column">{{request.query.closed | date: 'mediumDate'}}</div>
                </div>
                <div class="ui compact row">
                    <div class="six wide column">canceled:</div>
                    <div class="ten wide column">{{request.query.canceled | date: 'mediumDate'}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment sixteen wide column" *ngIf="single">
        <pre>{{request.query.query.extensions[0]}}</pre>
    </div>

</div>
