
<div class="row">
    <div class="ui breadcrumb">
        <div class="active section request-header">Anfragenübersicht</div>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui form row">
    <div class="eight wide column">
        Nach Status Filtern
        <select class="ui inline dropdown">
            <option *ngFor="let filter of stateFilterArray"
                    value="{{filter[1]}}"
                    [selected]="stateFilter === filter[1]"
            >
                {{filter[0]}}
            </option>
            <option> gelöschte Anfragen </option>
        </select>
    </div>
</div>
<div class="ui divider"></div>
<div *ngIf="requests" class="ui vertically divided grid">
    <!--<div class="ui form row">
        <div class="inline fields">
            <label>Nach Status filtern</label>
            <div class="field" *ngFor="let filter of stateFilterArray">
                <div class="ui radio checkbox">
                    <input type="radio" name="status"
                           [checked]="stateFilter === filter[1]"
                           (change)="stateFilter = filter[1]"
                    >
                    <label>{{filter[0]}}</label>
                </div>
            </div>
        </div>
    </div>-->

    <!--<div class="row">
        <div class="eight wide column">
            <div class="ui test slider checkbox requests-filter-checkbox-starred">
                <input type="checkbox"
                       [checked]="onlyStarred"
                       (change)="onlyStarred=!onlyStarred"
                       title="Nur Favoriten anzeigen"
                >
                <label (click)="onlyStarred=!onlyStarred">Nur Favoriten anzeigen</label>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui test slider checkbox requests-filter-checkbox-hidden">
                <input type="checkbox"
                       [checked]="showHidden"
                       (change)="showHidden=!showHidden"
                       title="Gelöschte Anfragen anzeigen"
                >
                <label (click)="showHidden=!showHidden">Gelöschte Anfragen anzeigen</label>
            </div>
        </div>
    </div>-->

    <request-single-view *ngFor="let req of requests | requestFilter:stateFilter:markerFilter " [requestData]="req" class="row"></request-single-view>
</div>
