.request-status-bar-box {
    display: inline-block;
    width: 580px;
    /*width: 100%;*/
    vertical-align: middle;
    position: relative;
    margin-left: 50px;
}
.request-status-bar-box.class {
    width: 600px;
}

.request-status-line {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightgray;
    height: 6px;
    width: calc(100% - 10px);
    margin: 6px 5px;
    z-index: -100;
}
.request-status-line-fill {
    background-color: #21BA45;
    margin: 0;
    height: 6px;
}
.request-status-line-fill.failed {
    background-color: #DB2828;
}

.request-status-bar-item {
    position: relative;
    display: inline-block;
    float: left;
    z-index: 100;
    width: 10px;
    height: 10px;
    margin: 4px 0;
}

.request-status-dot {
    margin: 0;
    background-color: lightgray;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: help;
}
.request-status-dot.visited {
    margin: -1px;
    width: 12px;
    height: 12px;
    background-color: #21BA45;
}

.request-status-dot.active {
    margin: -4px;
    width: 18px;
    height: 18px;
    border: 5px solid #21BA45;
    background-color: whitesmoke;
}
.request-status-icon {
    position: absolute;
    margin: -9px;
    cursor: help;
}

.request-status-text {
    position: absolute;
    left: -100px;
    top: 15px;
    text-align: center;
    width: 200px;
}