<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <a class="section breadcrumb-header" routerLink="/request">Anfragenübersicht</a>
            <i class="right angle icon divider"></i>
            <div class="active section" *ngIf="request">{{request.query.query.title}}</div>
        </div>
    </div>
    <request-single-view [requestData]="request" [single]="true" class="row" [popUp]="popUp" *ngIf="request"></request-single-view>
</div>
<popup-message></popup-message>