.request-status-bar-box {
    display: inline-block;
    width: 580px;
    /*width: 100%;*/
    vertical-align: middle;
    position: relative;
    margin-left: 50px;
    margin-bottom: 10px;
}
.request-status-bar-box.class {
    width: 600px;
}

.request-status-line {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightgray;
    height: 6px;
    width: calc(100% - 10px);
    margin: 6px 5px;
    z-index: -100;
}
.request-status-line-fill {
    background-color: #FBBD08;
    margin: 0;
    height: 6px;
}
.request-status-line-fill.failed {
    background-color: #DB2828;
}
.request-status-line-fill.expired {
    background-color: #767676;
}
.request-status-line-fill.rejected {
    background-color: #2185D0;
}
.request-status-line-fill.submitted {
    background-color: #21BA45;
}

.request-status-bar-item {
    position: relative;
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 2px 0;
}

.request-status-dot {
    margin: 0;
    background-color: lightgray;
    border-radius: 60%;
    width: 14px;
    height: 14px;
    cursor: help;
}
.request-status-dot.visited {
    margin: 1px;
    width: 12px;
    height: 12px;
    background-color: #FBBD08;
    cursor: help;
}

.request-status-dot.active {
    margin: -2px;
    width: 18px;
    height: 18px;
    border: 5px solid #FBBD08;
    background-color: whitesmoke;
}
.request-status-icon {
    position: absolute;
    margin: -8px;
    cursor: help;
}

.request-status-text {
    position: absolute;
    left: -95px;
    top: 15px;
    margin-top: 8px;
    text-align: center;
    width: 200px;
    font-size: 14px;
}
