<div
        class="ui basic segment request-single-view grid container"
        id="request-list-{{request.requestId}}"
        *ngIf="request"
>
    <div class="compact row">
        <div class="twelve wide column">
            <h1 class="ui header">
                {{request.query.query.title}}
                <!--<div class="ui red circular label" *ngIf="request.status < 2">neu</div>-->
            </h1>
        </div>
        <div class="actions four wide right floated right aligned column">
            <a class="ui circular red icon button"
               [ngClass]="{'basic': !hidden, 'disabled': hiddenLoading }"
               (click)="toggleHiddenMarker()"
               title="{{hideMessage}}"
            >
                <i class="trash outline icon" [class.empty]="!hidden"></i>
            </a>
            <a class="ui circular basic green icon button" routerLink="/request" title="Zurück zum Berichtsübersicht">
                <i class="arrow left icon"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <request-status-bar [request]="request" [single]="true"></request-status-bar>
    </div>
    <div class="row ui segment" *ngIf="request.hasResultFile()">
        <div class="twelve wide column middle aligned">
            Klicken Sie rechts, um die Abfrageergebnisse herunterzuladen und anzusehen. Im Falle einer Freigabe werden die Abfrageergebnisse exakt in dieser Form übertragen.
        </div>
        <div class="four wide column middle aligned">
            <a class="ui inverted green icon button"
               [ngClass]="{'disabled': downloadLoading }"
               (click)="downloadResult()"
               title="Die Ergebnisdatei herunterladen."><i class="download icon request-result-button-icon"></i>
                <div class="request-result-button-text">Ergebnisse<br/>
                Herunterladen</div>
            </a>
        </div>
    </div>
    <div class="row ui warning message" *ngIf="request.needAuthorization()">
        <div class="two wide column">
            <i class="huge yellow warning sign icon"></i>
        </div>
        <div class="eight wide column larger middle aligned" *ngIf="request.isNew()">
            Diese Anfrage wurde noch nicht zur Ausführung freigegeben. Bitte wählen Sie eine Aktion.
        </div>
        <div class="eight wide column larger middle aligned" *ngIf="!request.isNew()">
            Die Ergebnisse wurden noch nicht zur Übermittlung freigegeben. Bitte wählen Sie eine Aktion.
        </div>
        <div class="actions right aligned middle aligned six wide column">
            <div class="ui green animated fade button request-allow-button"
                 (click)="authorize(true)"
            >
                <div class="visible content">Freigabe</div>
                <div class="hidden content">
                    <i class="icon checkmark"></i>
                    Zulassen
                </div>
            </div>
            <div class="ui red animated fade button request-deny-button"
                 (click)="authorize(false)"
            >
                <div class="visible content">Ablehnen</div>
                <div class="hidden content">
                    <i class="icon remove"></i>
                    Ablehnen
                </div>
            </div>
        </div>
    </div>
    <div class="row ui segment grid">
        <div class="compact row">
            <div class="ui meta sixteen wide column">
                Auftraggeber: <b>{{request.query.query.principal.name}}</b>
                <span *ngIf="request.query.query.principal.organisation">
                    , {{request.query.query.principal.organisation}}
                </span>
                <span *ngIf="request.query.query.principal.phone">
                    , {{request.query.query.principal.phone}}
                </span>
                <span *ngIf="request.query.query.principal.email">
                    , {{request.query.query.principal.email}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="ui sixteen wide column divider"></div>
        </div>
        <div class="compact row">
            <div class="ui meta five wide column" *ngIf="request.query.published">
                Datum der Beauftragung:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.published">
                {{request.query.published | date: 'mediumDate'}}
            </div>
            <div class="ui meta five wide column" *ngIf="request.query.reference">
                Referenzdatum der Daten:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.reference">
                {{request.query.reference | date: 'mediumDate'}}
            </div>
            <div class="ui meta five wide column" *ngIf="request.query.scheduled">
                Datum der (geplanten) Ausführung:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.scheduled">
                {{request.query.scheduled | date: 'mediumDate'}}
            </div>
            <div class="ui meta five wide column" *ngIf="request.query.query.schedule && request.query.query.schedule.duration">
                Zeitraum der Abfrage:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.query.schedule && request.query.query.schedule.duration">
                {{request.query.query.schedule.duration}}
            </div>
            <div class="ui meta five wide column" *ngIf="request.query.deadline">
                Deadline:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.deadline">
                {{request.query.deadline | date: 'mediumDate'}}
            </div>
            <div class="ui meta five wide column" *ngIf="request.query.closed">
                Beendet am:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.closed">
                {{request.query.closed | date: 'mediumDate'}}
            </div>
            <div class="ui meta five wide column" *ngIf="request.query.canceled">
                Vom Broker abgebrochen am:
            </div>
            <div class="ui meta three wide column" *ngIf="request.query.canceled">
                {{request.query.canceled | date: 'mediumDate'}}
            </div>
        </div>
    </div>
    <div class="row  ui segment">
        <div class="sixteen wide column">
            <b>Beschreibung:</b> <br/>
            <pre style="overflow-wrap: break-word;  white-space: pre-wrap; word-wrap: break-word;">{{request.query.query.description}}</pre>
        </div>
    </div>
    <div class="row ui segment">
        <div class="five wide column">
            Abfragedefinition:
        </div>
        <div class="eight wide column actions right floated right aligned">
            <div class="ui basic right labeled icon compact button"
                 (click)="hideSql = !hideSql;"
            >
                {{hideSql? 'Abfragesyntax einblenden':'Abfragesyntax ausblenden'}}
                <i class="icon" [ngClass]="hideSql?'eye':'hide'"></i>
            </div>
        </div>
        <div class="sixteen wide column padded" [ngClass]="{'hide-sql': hideSql}">
            <pre>{{formatXml(request.query.query.extensions[0])}}</pre>
        </div>
    </div>
</div>

