<div>
    <div class="request-status-bar-box">
        <div class="request-status-line">
            <div class="request-status-line-fill" [style.width]="statusBarProgress" [class]="{'failed': failed, 'expired': expired, 'rejected': rejected, 'submitted': submitted}"></div>
        </div>
        <div class="request-status-bar-item"
             [class.first]="first"
             [class.last]="last"
            *ngFor="let item of items; let i = index; let first = first; let last = last">
            <div *ngIf="item.dot"
                 [class]="{
                    'visited': item.visited,
                    'failed': failed,
                    'expired': expired,
                    'rejected': rejected,
                    'submitted': submitted,
                    'active': item.active}"
                 class="request-status-dot"
                 [title]="item.title"></div>
            <i class="circular yellow inverted pencil icon request-status-icon"
            *ngIf="item.interaction" [title]="item.title"></i>
            <i class="circular green inverted hourglass end icon request-status-icon"
            *ngIf="item.waiting" [title]="item.title"></i>
            <i class="circular blue inverted hand paper icon request-status-icon Rejected"
            *ngIf="item.Rejected" [title]="item.title"></i>
            <i class="circular red inverted warning icon request-status-icon Failed"
            *ngIf="item.Failed" [title]="item.title"></i>
            <i class="circular grey inverted lock end icon request-status-icon Expired"
            *ngIf="item.Expired" [title]="item.title"></i>
            <i class="circular green inverted check icon request-status-icon Submitted"
            *ngIf="item.Submitted" [title]="item.title"></i>
            <div class="request-status-text" *ngIf="item.active">{{ item.title }}</div>
        </div>
    </div>
</div>
