<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb column">
            <div class="active section breadcrumb-header">Anfragenübersicht</div>
        </div>
    </div>
    <div class="row">
        <div class="ui column">
            <div class="ui segment column form">
                <div class="field">
                    <label>Nach Status filtern</label>
                    <div class="ui input action">
                        <drop-down (ngModelChange)="filterRequests($event)"
                                   [ngModel]="stateFilter"
                                   name="filter">
                            @for (filter of stateFilterArray; track filter.label) {
                                @if (!!filter.optGroups?.length) {
                                    <drop-down-option-group>{{ filter.label }}</drop-down-option-group>
                                    @for (opt of filter.optGroups; track opt.label) {
                                        <drop-down-option [value]="opt.value">{{ opt.label }}</drop-down-option>
                                    }
                                } @else {
                                    <drop-down-option [value]="filter.value">{{ filter.label }}</drop-down-option>
                                }
                            }
                        </drop-down>
                        <button (click)="resetEtag();loadRequests();"
                                class="ui labeled icon button"
                                type="button">
                            <i class="redo icon"></i> Neu laden
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ui column">
            <div class="ui segment">
                @if (!!groupedRequests?.length) {
                    <ng-template #paginationTemplate>
                        <pagination-controls id="series-pagination"
                                             class="pagination"
                                             (pageChange)="p = $event"
                                             [autoHide]="true"
                                             previousLabel="Vorherige Seite"
                                             nextLabel="Nächste Seite">
                        </pagination-controls>
                    </ng-template>

                    <ng-container *ngTemplateOutlet="paginationTemplate"></ng-container>
                    <div class="ui relaxed divided list">
                        @for (group of groupedRequests | paginate:{
                            itemsPerPage: 5,
                            currentPage: p,
                            id: 'series-pagination'
                        }; track group.requestId) {
                            <div class="item">
                                <div class="content ui container">
                                    <div class="row">
                                        <request-overview [request]="group.latestRequest"
                                                          [requestSeries]="group.sortedRequests"
                                                          (onDetailsClick)="openRequestView($event.requestId);"
                                                          class="column">
                                        </request-overview>
                                    </div>
                                    <div class="row">
                                        <div class="ui styled fluid accordion column"
                                             *ngIf="group.latestRequest.isRecurring() && !!group.previousRequests?.length">
                                            <div class="title">
                                                <i class="dropdown icon"></i>
                                                Vohergehende Anfragen der Serie
                                            </div>

                                            <div class="content">
                                                <pagination-controls class="pagination"
                                                                     [autoHide]="true"
                                                                     (pageChange)="group.changePage($event)"
                                                                     [id]="'request-pagination' + group.requestId"
                                                                     previousLabel="Vorherige Seite"
                                                                     nextLabel="Nächste Seite">
                                                </pagination-controls>
                                                <div class="ui relaxed divided list">
                                                    @for (request of group.previousRequests | paginate: {
                                                        itemsPerPage: 5,
                                                        currentPage: group.page,
                                                        id: 'request-pagination' + group.requestId
                                                    }; track request.requestId) {
                                                        <div class="item">
                                                            <request-overview [request]="request"
                                                                              [requestSeries]="group.sortedRequests"
                                                                              (onDetailsClick)="openRequestView($event.requestId);"
                                                                              class="status-bar-request content">
                                                            </request-overview>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <ng-container *ngTemplateOutlet="paginationTemplate"></ng-container>
                } @else if (!timeoutBool) {
                    <div class="ui active indeterminate inline centered text loader">Lade Anfragen</div>
                } @else {
                    Es liegen keine Anfragen vor
                }
            </div>
        </div>
    </div>
</div>