<div *ngIf="request && dataLoaded"
     class="ui text container very padded segment">
    <div class="popup-header">
        <div>
            <div class="ui header">
                @if (request.isRecurring()) {
                    Serien-Anfrage {{ numInSeries }} von {{queryBundle.requests?.length}}:
                } @else {
                    Einzelanfrage:
                }
                {{ request.query.query.title }}
                @if (request.marker === RequestMarker.HIDDEN) {
                    [ARCHIVIERT]
                }
            </div>

            <div class="ui content">
            </div>
        </div>

        <div>
            <a (click)="close()"
               class="ui compact small icon circular button">
                <i class="remove icon"></i>
            </a>
        </div>
    </div>

    <request-single-view (onDetailsClick)="loadRequests($event)"
                         [queryBundle]="request.isRecurring() ? queryBundle : null"
                         [queryDetails]="request.isRecurring() ? queryDetails : null"
                         [requestDataUnmapped]="requestUnmapped"
                         [requestData]="request"></request-single-view>
    <div class="actions">
        <button (click)="close()"
                class="ui labeled icon secondary button"
                type="button">
            <i class="times icon"></i>
            Schließen
        </button>
    </div>
</div>
