<div class="ui basic segment request-single-view grid container" id="request-list-{{request.requestId}}">
    <div class="row">
        <request-status-bar class="ui column" [request]="request"></request-status-bar>
    </div>
    <div class="row ui warning message" *ngIf="isAuthorized('WRITE_REQUESTS') && request.needAuthorization()">
        <div class="two wide column middle aligned">
            <i class="huge yellow warning sign icon"></i>
        </div>
        <div class="eight wide column larger middle aligned">
            @if(request.isNew()) {
                Diese Anfrage wurde noch nicht zur Ausführung freigegeben. Bitte wählen Sie eine Aktion.
                <span *ngIf="request.isRecurring()" class="block-margin">Sie haben auch die Möglichkeit alle Anfragen der Serie anzunehmen oder abzulehnen.</span>
            } @else {
                Die Ergebnisse wurden noch nicht zur Übermittlung freigegeben. Bitte wählen Sie eine Aktion.
            }
        </div>
        <div class="actions right aligned middle aligned six wide column">
            <button class="ui secondary labeled icon button" (click)="authorize(false)">
                <i class="icon remove"></i> Ablehnen
            </button>
            <button class="ui primary labeled icon button" (click)="authorize(true)">
                <i class="icon checkmark"></i>
                Freigeben
            </button>
        </div>
    </div>
    <div class="row ui error message" *ngIf="request.failed()">
        <div class="two wide column middle aligned">
            <i class="huge red warning sign icon"></i>
        </div>
        <div class="twelve wide column larger middle aligned">
            Bei der Durchführung oder Übertragung der Datenanfrage ist ein Fehler aufgetreten. Bitte kontaktieren Sie das <a href="mailto:it-support@aktin.org">AKTIN IT-Team</a>.
        </div>
    </div>
    <div class="row ui segment" *ngIf="request.hasResultFile()">
        <div class="ten wide column middle aligned center">
            Klicken Sie rechts, um die Abfrageergebnisse herunterzuladen und anzusehen. Die Abfrageergebnisse werden exakt in
            dieser Form an den AKTIN Broker übertragen.
        </div>
        <div class="six wide column right aligned middle aligned">
            <button (click)="downloadResult()"
                    [class.disabled]="downloadLoading"
                    class="ui icon labeled button basic primary"
                    title="Die Ergebnisse der Abfrage herunterladen">
                Herunterladen
                <i class="download icon"></i>
            </button>
        </div>
    </div>
    <div class="row ui segment" *ngIf="request.isFinished()">
        <div class="ten wide column middle aligned">
            @if (hidden) {
                Die Abfrage ist archiviert und wird ausgeblendet, außer Sie setzen den entsprechenden Filter. Sie können bei Bedarf diese Anfrage wiederherstellen.
            } @else {
                Die Abfrage ist abgeschlossen. Sie können bei Bedarf diese Anfrage archivieren.
            }
        </div>
        <div class="six wide column right aligned middle aligned">
            <button (click)="toggleHiddenMarker()"
                    class="ui icon labeled button basic primary"
                    title="{{hideMessage}}">
                @if (hidden) {
                    Wiederherstellen
                    <i class="undo icon"></i>
                } @else {
                    Archivieren
                    <i class="archive icon"></i>
                }
            </button>
        </div>
    </div>
    <div class="row">
        <div class="ui segments">
            <div class="ui segment">
                Auftraggeber*in: <b>{{request.query.query.principal.name}}</b>
                @if(request.query.query.principal.organisation) {
                    , {{ request.query.query.principal.organisation }}
                }
                @if(request.query.query.principal.phone) {
                    , {{ request.query.query.principal.phone }}
                }
                @if(request.query.query.principal.email) {
                    , {{ request.query.query.principal.email }}
                }
            </div>
            <div class="ui segment grid">
                <div class="ui five wide column" *ngIf="requestUnmapped.query.published">
                    Datum der Beauftragung:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.published">
                    {{requestUnmapped.query.published | date: 'mediumDate'}}
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.reference">
                    Referenzdatum der Daten:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.reference">
                    {{requestUnmapped.query.reference | date: 'mediumDate'}}
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.scheduled">
                    Datum der (geplanten) Ausführung:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.scheduled">
                    @if(requestUnmapped.query.scheduled == 'Sofort') {
                        {{ requestUnmapped.query.scheduled }}
                    } @else {
                        {{ requestUnmapped.query.scheduled | date: 'mediumDate' }}
                    }
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.query.schedule && requestUnmapped.query.query.schedule.duration && !requestUnmapped.isRecurring()">
                    Erhebungszeitraum der Daten:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.query.schedule && requestUnmapped.query.query.schedule.duration && !requestUnmapped.isRecurring()">
                    {{requestUnmapped.query.query.schedule.duration | durationData }}
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.deadline">
                    Deadline:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.deadline">
                    {{requestUnmapped.query.deadline | date: 'mediumDate'}}
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.closed">
                    Beendet am:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.closed">
                    {{requestUnmapped.query.closed | date: 'mediumDate'}}
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.canceled">
                    Vom Broker abgebrochen am:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.canceled">
                    {{requestUnmapped.query.canceled | date: 'mediumDate'}}
                </div>
            </div>
            <div class="ui segment grid" *ngIf="requestUnmapped.isRecurring()">
                <div class="ui sixteen wide column">
                    <b>Serien-Informationen:</b>
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.query.schedule && requestUnmapped.query.query.schedule.duration">
                    Erhebungszeitraum der Daten:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.query.schedule && requestUnmapped.query.query.schedule.duration">
                    {{requestUnmapped.query.query.schedule.duration | durationData }}
                </div>
                <div class="ui five wide column" *ngIf="requestUnmapped.query.query.schedule && requestUnmapped.query.query.schedule.interval">
                    Abfrage-Intervall:
                </div>
                <div class="ui three wide column" *ngIf="requestUnmapped.query.query.schedule && requestUnmapped.query.query.schedule.interval" style="margin-left: -14px;">
                    {{requestUnmapped.query.query.schedule.interval | durationQuery }}
                </div>
            </div>

            <div class="ui segment grid" *ngIf="requestUnmapped.isRecurring()">
                <div class="ui sixteen wide column">
                    @if(queryRule) {
                        Für diese Serie liegt folgende Freigabe-Regel vor (erstellt von {{ queryRule.user }} am {{ queryRule.creationDate | date: 'd. MMM y, HH:mm a' }}):
                    } @else {
                        Für diese Serie liegt keine Freigabe-Regel vor.
                    }
                </div>
                <div class="ten wide column" *ngIf="queryRule" >
                    @switch (queryRule.action) {
                        @case (QueryRuleAction.REJECT) {
                            Alle Anfragen dieser Serie werden abgelehnt.
                        }
                        @case (QueryRuleAction.ACCEPT_SUBMIT) {
                            Alle Anfragen dieser Serie werden freigegeben. Die Ergebnisse werden direkt übertragen.
                        }
                        @case (QueryRuleAction.ACCEPT_EXECUTE) {
                            Alle Anfragen dieser Serie werden freigegeben. Die Übermittlung der Ergebnisse muss erneut bestätigt werden.
                        }
                    }
                </div>
                <div class="six wide right aligned column" *ngIf="queryRule" >
                    <button class="ui icon labeled button basic primary" (click)="deleteQueryRule()">
                        <i class="trash icon"></i>
                        Regel entfernen
                    </button>
                </div>
            </div>
            <div *ngIf="request.isRecurring()"
                 class="ui segment styled fluid accordion request-accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Alle Anfragen der Serie
                    </div>
                    <div class="content ui relaxed divided list">
                        <ng-template #pagination>
                            <pagination-controls class="pagination"
                                                 (pageChange)="p = $event"
                                                 [autoHide]="true"
                                                 previousLabel="Vorherige Seite"
                                                 nextLabel="Nächste Seite">
                            </pagination-controls>
                        </ng-template>

                        <ng-container *ngTemplateOutlet="pagination"></ng-container>
                        <div *ngFor="let recurr of recurrRequests | paginate: { itemsPerPage: 5, currentPage: p }"
                             [class.status-bar-active-request]="recurr.requestId === request.requestId"
                             class="item">
                            <div class="content status-bar-request-bar-wrapper">
                                <request-overview [request]="recurr"
                                                  [requestSeries]="recurrRequests"
                                                  [compact]="true"
                                                  (onDetailsClick)="onDetailsClick.emit($event.requestId)">
                                </request-overview>
                            </div>
                        </div>

<!--                            <div class="ui divider"></div>-->
<!--                            <ng-container *ngTemplateOutlet="pagination"></ng-container>-->
                    </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row ui segment">
        <div class="sixteen wide column">
            <b>Beschreibung:</b> <br/>
            <pre style="white-space: pre-wrap; word-wrap: break-word;">{{request.query.query.description}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="ui segment ui styled accordion request-accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Abfragedefinition
            </div>
            <div class="content">
                <pre style="overflow-x: auto">{{ formatXml(request.query.query.extensions[0]) }}</pre>
            </div>
        </div>
    </div>
</div>
