.dropdown-processing {
    margin-top: 50px;
}

input {
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.file-name {
    font-size: 15px;
    font-weight: 1000;
    color: rgba(53, 63, 74, 1);
    margin: 0;
}

.file-buttons {
    float: right;
}

.import-button-label {
    margin-right: 1.5rem;
}

.element-item {
    margin-bottom: 1em;
}

.element-warning {
    background-color: rgba(255, 255, 0, 0.2);
}

.element-error {
    background-color: rgba(255, 0, 0, 0.2);
}

p{
    display: block; /* or inline-block, at least its a block element */
   
    height: auto; /* height cannot be defined */
    word-break: break-all; /*  */
    word-wrap: break-word; /* if you want to cut the complete word */
    white-space: normal; /* be sure its not 'nowrap'! ! ! :/ */
}