<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <div class="active section breadcrumb-header">Upload von fallbasierten Daten</div>
        </div>
    </div>
    <div class="ui form sixteen wide column">
        <div class="ui segment">
            <div class="row">
                <label>Art der Datenverarbeitung</label>
                <select class="ui fluid dropdown" name="script_selected" [(ngModel)]="script_selected">
                    <option *ngFor="let script of list_scripts.entries()" [value]="script[0]"
                        [selected]="script_selected==script[0]">
                        {{ script[1] }}
                    </option>
                </select>
            </div>
            <div class="ui grid input-field-row">
                <div class="right floated right aligned eighteen wide column">
                    <button class="ui green labeled icon button">
                        <input class="input-field" type="file" id="FileInput"
                            (change)="onFileBrowse($event.target.files)" />
                        <i class="upload icon white"></i>
                        Durchsuchen...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 2%;" class="ui form sixteen wide column">
    <table class="ui sortable single line fixed table">
        <thead>
            <tr>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='name_file', 'descending':reverse, 'ascending':!reverse}"
                    (click)="sorted=true; setSortAttribute('name_file')" width="30%">
                    Name
                    <i *ngIf="!sorted" class="sort icon"></i>
                </th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='size_file', 'descending':reverse, 'ascending':!reverse}"
                    (click)="sorted=true; setSortAttribute('size_file')" width="10%" class="center aligned">
                    Größe
                    <i *ngIf="!sorted" class="sort icon"></i>
                </th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='id_script', 'descending':reverse, 'ascending':!reverse}"
                    (click)="sorted=true; setSortAttribute('id_script')" width="20%" class="center aligned">
                    Skript
                    <i *ngIf="!sorted" class="sort icon"></i>
                </th>
                <th [ngClass]="{'sorted':sorted&&sortAttribute==='operationState', 'descending':reverse, 'ascending':!reverse}"
                    (click)="sorted=true; setSortAttribute('operationState')" width="20%" class="center aligned">
                    Status
                    <i *ngIf="!sorted" class="sort icon"></i>
                </th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody
            *ngFor="let file of list_files_upload | paginate: { itemsPerPage: 7, currentPage: p } | orderBy: [getSortAttribute()]; let i=index">
            <tr>
                <td>
                    <p class="file-name"> {{ file.name_file }} </p>
                </td>
                <td>
                    {{ formatBytes(file.size_file) }}
                </td>
                <td>
                    {{ list_scripts.get(file.id_script) }}
                </td>
                <td>
                    {{ file.operationState }}
                    <div class="ui active small inline loader" *ngIf="file.state === importState.in_progress"
                        style="margin-left:8px; margin-bottom:4px;">
                    </div>
                </td>
                <td>
                    <div class="ui icon four buttons file-buttons">
                        <button class="ui button" (click)="file.uploadFile()"
                            *ngIf="file.operation === importOperation.uploading && file.state !== importState.successful"
                            [disabled]="file.state === importState.in_progress" title="Datei hochladen">
                            <i class="upload icon green"></i>
                        </button>
                        <button class="ui button" (click)="file.verifyFile()"
                            *ngIf="file.checkButtonVisibility(importOperation.uploading, importOperation.verifying)"
                            [disabled]="file.state === importState.queued || file.state === importState.in_progress"
                            title="Datei prüfen">
                            <i class="search icon green"></i>
                        </button>
                        <button class="ui button" (click)="file.importFile()"
                            *ngIf="file.checkButtonVisibility(importOperation.verifying, importOperation.importing)"
                            [disabled]="file.state === importState.queued || file.state === importState.in_progress"
                            title="Datei importieren">
                            <i style="margin-left:6px;" class="sign in clockwise rotated icon green"></i>
                        </button>
                        <button class="ui vertical animated button" (click)="file.show_output = !file.show_output;"
                            [disabled]="file.msg_output.length == 0" title="Konsolenausgabe von Skript anzeigen">
                            <div class="hidden content">
                                <i class="down arrow icon"></i>
                            </div>
                            <div class="visible content">
                                <i style="margin-left:6px;" class="file alternate outline icon"></i>
                            </div>
                        </button>
                        <button class="ui vertical animated button" (click)="file.show_error = !file.show_error"
                            [disabled]="file.msg_error.length == 0" title="Fehlermeldung von Skript anzeigen">
                            <div class="hidden content">
                                <i class="down arrow icon"></i>
                            </div>
                            <div class="visible content">
                                <i style="margin-left:6px;" class="exclamation triangle icon red"></i>
                            </div>
                        </button>
                        <button class="ui button" (click)="file.cancelProcess()"
                            *ngIf="file.state === importState.in_progress || file.state === importState.queued"
                            title="Prozess abbrechen">
                            <i class="ban icon red"></i>
                        </button>
                        <button class="ui button" (click)="confirmDelete(i)"
                            *ngIf="file.state !== importState.in_progress && file.state !== importState.queued"
                            title="Datei löschen">
                            <i class="trash icon red"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" *ngIf="file.show_output" class="animationIf">
                    <div class="ui padded element-output segment ">
                        <p>
                            <i class="exclamation triangle icon orange"></i>
                            Konsolenausgabe Skript:
                        <pre> {{ file.msg_output }} </pre>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" *ngIf="file.show_error">
                    <div class="ui padded element-error segment animationIf">
                        <p> <i class="exclamation triangle icon red"></i>
                            Fehlermeldung Skript:
                        </p>
                        <pre> {{ file.msg_error }} </pre>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <th colspan="5">
                <pagination-controls class="pagination" (pageChange)="p = $event" autoHide="true"
                    previousLabel="Vorherige Seite" nextLabel="Nächste Seite">
                </pagination-controls>
            </th>
        </tfoot>
    </table>
</div>

<popup-message></popup-message>