.segment {
    margin: auto;
}

.dropdown-processing {
    width: 140%;
    padding-right: 15px;
    padding-left: 15px;
}

.input-field-row {
    margin-top: 2px;
}

.input-field {
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.table {
    width: 160%;
    margin-left: -30%;
    table-layout: fixed;
}

.file-name {
    display: block;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.element-output {
    background-color: rgba(255, 255, 0, 0.2);
    margin-bottom: 1em;
}

.element-error {
    background-color: rgba(255, 0, 0, 0.2);
    margin-bottom: 1em;
}

.pagination /deep/ .ngx-pagination {
    text-align: center;
    margin: 0;
    padding: 0;
}

.pagination /deep/ .ngx-pagination .current {
    background-color: rgba(33, 186, 69, 1);
}
