<div class="ui grid">
    <div class="row">
        <div class="ui breadcrumb">
            <div class="active section breadcrumb-header">Upload von fallbasierten Daten</div>
        </div>
    </div>
    <div class="row">
        <div class="ui segments container" >
            <div class="ui grid">
                <div class="two column row">
                    <div class="left floated column">
                        <div class="dropdown-processing">
                            <label>Art der Datenverarbeitung</label>
                            <select class="ui fluid dropdown" name="process_selected" [(ngModel)]="process_selected">
                                <option *ngFor="let process of list_processes" [value]="process.id" [selected]="process_selected==process.id">
                                    {{ process.description }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="right floated column" style="border: 2px dashed;">
                        <input type="file" id="FileInput" (change)="onFileBrowse($event.target.files)" />
                        <div class="ui positive labeled icon button">
                            <i class="upload icon white"></i>
                            Durchsuchen...
                        </div>
                    </div>
                </div>
                
                <div class="two column row">
                    <div class="left floated column">
                        <div class="ui small labeled icon button" (click)="resetFilter()" [ngClass]="filterActive ? '' : 'disabledButton'">
                            <i class="close icon"></i>
                            Filter zurücksetzen
                        </div>
                    </div>
                    <div class="right floated column">
                        TODO FILTER
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="ui sortable single line fixed table" style="width: 180%;margin-left: -40%;">
    <thead>
        <tr>
            <th [ngClass]="{'sorted':sorted&&sortAttribute==='name', 'descending':reverse, 'ascending':!reverse}" (click)="sorted=true; setSortAttribute('name')" width="30%">
                Name
                <i *ngIf="!sorted" class="sort icon"></i>
            </th>
            <th [ngClass]="{'sorted':sorted&&sortAttribute==='size', 'descending':reverse, 'ascending':!reverse}" (click)="sorted=true; setSortAttribute('size')" width="10%" class="center aligned">
                Größe
                <i *ngIf="!sorted" class="sort icon"></i>
            </th>
            <th [ngClass]="{'sorted':sorted&&sortAttribute==='state', 'descending':reverse, 'ascending':!reverse}" (click)="sorted=true; setSortAttribute('state')" width="16%" class="center aligned">
                Status
                <i *ngIf="!sorted" class="sort icon"></i>
            </th>
            <th width="30%"> </th>
            <th width="14%"> </th>
        </tr>
    </thead>
    <tbody *ngFor="let file of list_files_upload | orderBy: [getSortAttribute()]; let i=index">
        <tr>
            <td>
                <p class="file-name"> {{ file.name }} </p>
            </td>
            <td>
                {{ formatBytes(file.size) }}
            </td>
            <td>
                <div>
                    <div class="ui green progress" id="{{ file.id_progress_bar }}">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label">{{ file.state }}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="ui icon buttons file-buttons">
                    <button class="ui button" (click)="file.upload_and_verificate()" *ngIf="file.hasNotState(ImportState.verification_successful,ImportState.importing,ImportState.import_cancelled,ImportState.import_failed,ImportState.import_successful)" [disabled]="file.hasState(ImportState.in_queue,ImportState.uploading,ImportState.verificating)">
                    <i class="cloud upload icon green large"></i>
                    </button>
                    <button class="ui right labeled icon button" (click)="file.import()" *ngIf="file.hasState(ImportState.verification_successful,ImportState.importing,ImportState.import_cancelled,ImportState.import_failed,ImportState.import_successful)" [disabled]="file.hasState(ImportState.importing,ImportState.import_successful)">
                    <i class="arrow circle up icon green large"></i>
                    <p class="import-button-label">
                        {{ process_selected }}
                    </p>
                    </button>
                    <button class="ui button" (click)="file.cancel()" *ngIf="file.hasState(ImportState.in_queue,ImportState.uploading,ImportState.verificating,ImportState.importing)" [disabled]="file.hasState(ImportState.verificating)">
                    <i class="ban icon red large"></i>
                    </button>
                    <button class="ui button" (click)="deleteFile(i)" *ngIf="file.hasNotState(ImportState.in_queue,ImportState.uploading,ImportState.verificating,ImportState.importing)" [disabled]="file.hasState(ImportState.import_successful)">
                    <i class="trash icon red large"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="ui icon buttons file-buttons" >
                    <button class="ui vertical animated button" (click)="file.showWarning()" *ngIf="file.messages_warning.length !== 0">
                    <div class="hidden content">
                        <i class="down arrow icon"></i>
                    </div>
                    <div class="visible content">
                        <i class="exclamation triangle icon yellow large"></i>
                        <b> {{ file.messages_warning.length }} </b>
                    </div>
                    </button>
                    <button class="ui vertical animated button" (click)="file.showError()" *ngIf="file.messages_error.length !== 0">
                    <div class="hidden content">
                        <i class="down arrow icon"></i>
                    </div>
                    <div class="visible content">
                        <i class="exclamation triangle icon red large"></i>
                        <b> {{ file.messages_error.length }} </b>
                    </div>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="row" *ngIf="file.show_warning">
                    <div class="element-item" *ngFor="let warning of file.messages_warning; let j = index;">
                        <div class="ui segment file-row-element element-warning">
                            <i class="exclamation triangle icon yellow large"></i>
                            <b> {{ warning.timestamp | momentDate: 'DD.MM.YYYY, HH:mm' }} </b>
                            <p style="overflow-x:auto;"> {{ warning.text }} </p>
                        </div>
                        <button (click)="file.messages_warning.splice(j);">
                        KLICK ME
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6" >
                <div class="row" *ngIf="file.show_error">
                    <div class="element-item" *ngFor="let error of file.messages_error; let k = index;">
                        <div class="ui segment file-row-element element-error">
                            <i class="exclamation triangle icon red large"></i>
                            <b> {{ error.timestamp | momentDate: 'DD.MM.YYYY, HH:mm' }} </b>
                            <p style="overflow:auto;"> {{ error.text }} </p>
                        </div>
                        <button (click)="file.messages_error.splice(k);">
                        KLICK ME
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>