{{header.navLength}}
<div class="ui fluid {{header.navLength()}} inverted menu stackable">
	<div class="ui container">
		<a ng-repeat="nav in header.navigations()" class="item {{header.active(nav)}}" ui-sref="{{nav.routing}}">
			<span class="header-menu-item-content">
			{{nav.name}}</span>
		</a>
		<div class="right menu">
			<a class="ui item"  ui-sref="login" ng-hide="header.isLoggedIn()">
				<div class="ui primary button header-menu-item-content">Login</div>
			</a>
			<a class="ui item"  ui-sref="logout" ng-show="header.isLoggedIn()">
				<div class="ui primary button header-menu-item-content">Logout</div>
			</a>
		</div>
	</div>
</div>
