<div>
    <h3><i class="icon info"></i> Hilfe</h3>
    <h3>Tabellarische Daten (z.B. Excel) einfügen</h3>
    <ul>
        <li>Kopieren Sie die gewünschten Daten ohne Kopfzeile aus Excel</li>
        <ul>
            <li>1-spaltig ({{reference | patientReferenceToLabel}}), wenn Studien-ID automatisch generiert werden soll</li>
            <li>2-spaltig ({{reference | patientReferenceToLabel}} und Studien-ID), wenn Studien-ID manuell eingegeben werden soll</li>
        </ul>
        <li>Fügen Sie die Daten direkt in das Eingabefeld ein</li>
        <li>Die Ansicht übernimmt die Struktur der eingefügten Daten automatisch</li>
    </ul>

    <h3>Zeilen manuell hinzufügen</h3>
    <ul>
        <li>Klicken Sie auf "Zeile hinzufügen", um eine neue Zeile zu erstellen</li>
        <li>Klicken Sie auf <i class="trash icon"></i> in einer Zeile, um die entsprechende Zeile zu entfernen</li>
        <li>Tragen Sie die Informationen direkt in die Eingabefelder ein, indem Sie auf die entsprechende Zelle doppelklicken</li>
    </ul>

    <h3>Hinweise</h3>
    <ul>
        <li>Die Ansicht unterstützt sowohl das Einfügen aus Excel als auch die manuelle Eingabe</li>
        <li>Klicken Sie auf "Fälle anzeigen", um die Einträge auf Richtigkeit zu überprüfen, falls es nicht schon automatisch geschehen ist</li>
    </ul>

</div>
