<div>
    <h3>Daten aus Excel einfügen</h3>
    <ul>
        <li>Kopieren Sie die gewünschten Daten ohne Kopfzeile aus Excel</li>
        <ul>
            <li>1-spaltig (Patientenreferenz), wenn SIC automatisch generiert werden soll</li>
            <li>2-spaltig (Patientenreferenz und SIC), wenn SIC manuell eingegeben werden soll</li>
        </ul>
        <li>Fügen Sie die Daten direkt in das Eingabefeld ein</li>
        <li>Die Ansicht übernimmt die Struktur der eingefügten Daten automatisch</li>
    </ul>

    <h3>Zeilen manuell hinzufügen</h3>
    <ul>
        <li>Klicken Sie auf "Zeile hinzufügen", um eine neue Zeile zu erstellen</li>
        <li>Klicken Sie auf <i class="trash icon"></i> in einer Zeile, um die entsprechende Zeile zu entfernen</li>
        <li>Tragen Sie die Informationen direkt in die Eingabefelder ein, indem Sie auf die entsprechende Zelle doppelklicken.</li>
    </ul>

    <h3>Hinweise</h3>
    <ul>
        <li>Die Ansicht unterstützt sowohl das Einfügen aus Excel als auch die manuelle Eingabe</li>
        <li>Klicken Sie auf "Überprüfen", um die Einträge auf Richtigkeit zu überprüfen, falls es nicht schon automatisch geschehen ist</li>
    </ul>

</div>
