<div>
    <h3><i class="icon info"></i> Hilfe</h3>
    <h3>Patientendaten aus Excel einfügen</h3>
    <ul>
        <li>Kopieren Sie die gewünschten Daten aus Excel.</li>
        <li>Wählen Sie <i class="clipboard icon"></i> <em>Mit Kopfzeile</em>, wenn die erste Zeile Überschriften enthält, zum Beispiel „Patienten-ID“ oder „Studien-ID“.</li>
        <li>Wählen Sie <i class="clipboard icon"></i> <em>Ohne Kopfzeile</em>, wenn die Daten direkt mit einem Patienten beginnen.</li>
        <li>Alternativ können Sie Strg/Cmd+V verwenden. Dabei wird die erste Zeile als Kopfzeile behandelt.</li>
    </ul>

    <h3>Welche Daten werden benötigt?</h3>
    <ul>
        <li>Bei automatisch erzeugter Studien-ID: eine Spalte mit {{reference | patientReferenceToLabel}}.</li>
        <li>Bei manueller Studien-ID: eine oder zwei Spalten mit {{reference | patientReferenceToLabel}} und optionaler Studien-ID.</li>
    </ul>

    <h3>Patienten manuell hinzufügen</h3>
    <ul>
        <li>Klicken Sie auf <i class="plus icon"></i>, um eine Zeile hinzuzufügen.</li>
        <li>Doppelklicken Sie auf eine Zelle, um sie zu bearbeiten. Mit <i class="trash icon"></i> entfernen Sie eine Zeile.</li>
    </ul>
</div>
