<ag-grid-angular
        (cellValueChanged)="invokeValidation()"
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [loading]="false"
        [noRowsOverlayComponent]="NoRowsOverlayComponent"
        [noRowsOverlayComponentParams]="{reference: reference}"
        class="ag-theme-alpine"
        style="width: 100%; height: 500px;">
</ag-grid-angular>
<button (click)="clearEntries()"
        class="ui labeled icon button">
    <i class="trash icon"></i>
    Zurücksetzen
</button>
<button (click)="addRow()"
        class="ui labeled icon button">
    <i class="plus icon"></i>
    Zeile hinzufügen
</button>
<button (click)="invokeValidation()"
        class="ui labeled icon button">
    <i class="search icon"></i>
    Fälle anzeigen
</button>
