.ag-cell.error {
    background-color: rgba(255, 0, 0, 0.3);
}

.ag-cell.success {
    background-color: rgba(0, 255, 0, 0.3);
}

.ag-cell.error.static-cell {
    background-color: rgba(255, 0, 0, 0.5);
}

.ag-cell.static-cell {
    filter: brightness(90%);
}

.ag-cell {
    background-color: rgba(255, 255, 255, 1);
}

.ag-cell:not(.static-cell) {
    cursor: pointer;
}
