<div class="ui form">
    <div class="field">
        <label>Nach Status filtern</label>
        <drop-down [(ngModel)]="selectedSeverity" name="severity"
                   (ngModelChange)="filterRowData($event)">
            <drop-down-option [value]="null">Alle</drop-down-option>
            <drop-down-option labelClass="success" [value]="'success'">OK</drop-down-option>
            <drop-down-option labelClass="warn" [value]="'warn'">Warnung</drop-down-option>
            <drop-down-option labelClass="error" [value]="'error'">Kritisch</drop-down-option>
        </drop-down>
        <help-text>
            <span class="summary">
                <span>Gesamt {{ allEntriesCount }}</span>
                &nbsp;/&nbsp;
                <span class="success">OK {{ validEntriesCount }}</span>
                &nbsp;/&nbsp;
                <span class="warn">Warnung {{ warnEntriesCount }}</span>
                &nbsp;/&nbsp;
                <span class="error">Kritisch {{ errorEntriesCount }}</span>
            </span>
        </help-text>
    </div>

    <ag-grid-angular
            (cellValueChanged)="invokeValidation()"
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [loading]="false"
            [noRowsOverlayComponentParams]="{reference: reference}"
            [noRowsOverlayComponent]="NoRowsOverlayComponent"
            class="ag-theme-alpine"
            style="width: 100%; height: 500px;">
    </ag-grid-angular>


    <button (click)="clearEntries()"
            aria-label="Zurücksetzen"
            class="ui icon button"
            title="Zurücksetzen">
        <i class="trash icon"></i>
    </button>
    <button (click)="addRow()"
            aria-label="Zeile hinzufügen"
            class="ui icon button"
            title="Zeile hinzufügen">
        <i class="plus icon"></i>
    </button>

    <div class="ui right floated buttons">
        <button class="ui labeled icon button"
                (click)="pasteRowData()">
            <i class="clipboard icon"></i>
            Aus Zwischenspeicher einfügen
        </button>
        <div class="ui floating dropdown icon button">
            <i class="dropdown icon"></i>
            <div class="menu">
                <button (click)="invokeValidation()"
                        class="ui labeled icon button item">
                    <i class="search icon"></i>
                    Fälle anzeigen
                </button>
                <button (click)="resizeGrid()"
                        class="ui labeled icon button item">
                    <i class="arrows alternate horizontal icon"></i>
                    Spaltenbreite anpassen
                </button>
            </div>
        </div>
    </div>

</div>
